## Going Live dengan VT-Web
---

##### *Tutorial berikut akan membantu anda melakukan perubahan konfigurasi dari Sandbox ke mode Production, Silahkan pilih metode integrasi yang digunakan. Apabila butuh bantuan, silahkan hubungi kami di [support@midtrans.com](mailto:support@midtrans.com "email support") atau kunjungi [halaman support kami](http://support.midtrans.com "Midtrans Support").*
------------------

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#php" data-toggle="tab">PHP</a></li>
  <li><a href="#magento" data-toggle="tab">Magento</a></li>
  <li><a href="#opencart" data-toggle="tab">Opencart</a></li>
  <li><a href="#prestashop" data-toggle="tab">Prestashop</a></li>
  <li><a href="#woocommerce" data-toggle="tab">Woocommerce</a></li>
</ul>

<br>

Jika Anda sudah selesai melakukan testing dan sudah siap untuk go live di Production Environment, ada beberapa hal yang perlu dipastikan:

- Hubungi Team Support Midtrans untuk migrasi dari Sandbox ke Production Environment.<br>Setelah mendapat konfirmasi, anda dapat login ke Dashboard Production Midtrans di [https://account.midtrans.com/login](https://account.midtrans.com/login) dengan kredensial yang sama.

{::options parse_block_html="true" /}
<div class="tab-content">
<div class="tab-pane active" id="php"><!-- PHP-->
<!-- PHP -->
- Mengubah Veritrans-PHP library ke Production Environment.<br>Ini dapat dilakukan dengan mengubah nilai `Veritrans_Config::$isProduction` menjadi `true`.
<br />

~~~ php
<?php
include_once('Veritrans.php');

// Set our production server key
Veritrans_Config::$serverKey = '<your production server key>';

// Use production account
Veritrans_Config:$isProduction = true;
...

?>
~~~

<br />
	Selamat bertransaksi menggunakan Midtrans!

</div><!-- end of PHP-->
<div class="tab-pane" id="magento"><!-- Magento-->
<!-- Magento -->
- Mengubah `setting environment` di plugin Midtrans dari development menjadi production.
<br />
![Magento URL](/images/magento02.png){: .img-responsive .img-thumbnail}
<br /><br />
	Selamat bertransaksi menggunakan Midtrans!

</div><!-- end of Magento-->
<div class="tab-pane" id="opencart"><!-- Opencart-->
<!-- Opencart -->
- Mengubah `setting environment` di plugin Midtrans dari development menjadi production.
<br />
	![OpenCart Production](/images/opencart02.png){: .img-responsive .img-thumbnail}
<br /><br />
	Selamat bertransaksi menggunakan Midtrans!

</div><!-- end of Opencart-->
<div class="tab-pane" id="prestashop"><!-- Prestashop -->
<!-- Prestashop -->
- Mengubah `setting environment` di plugin Midtrans dari development menjadi production.
<br />
	![Prestashop Live](/images/presta02.png){: .img-responsive .img-thumbnail}
<br /><br />
	Selamat bertransaksi menggunakan Midtrans!

</div><!-- end of Prestashop -->
<div class="tab-pane" id="woocommerce"><!-- Woocommerce -->
<!-- Woocommerce -->
- Mengubah `setting environment` di plugin Midtrans dari development menjadi production.
<br /><br />
	![Prestashop Live](/images/woocomm01.png){: .img-responsive .img-thumbnail}
<br /><br />
	Selamat bertransaksi menggunakan Midtrans!

</div><!-- end of Woocommerce -->

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br>Jumlah minimum untuk melakukan transaksi pada mode Production adalah Rp 10.000.

</div>

</div><!-- end of tab-content-->
