## VT-Web: Fitur Tambahan
---

##### *Tutorial berikut akan membantu anda meng-implementasikan fitur tambahan di VT-Web. Apabila butuh bantuan, silahkan hubungi kami di [support@midtrans.com](mailto:support@midtrans.com "email support") atau kunjungi [halaman support kami](http://support.midtrans.com "Midtrans Support").*
---

Saat ini VT-Web memiliki fitur tambahan:

1. Memilih Metode Pembayaran
2. Set Pengalihan URL
3. Set Custom Fields
4. Set Custom Expiration

VT-Web juga memiliki fitur tambahan untuk pembayaran kartu kredit:

1. Menon-aktifkan 3D Secure
2. Cicilan
3. BIN Promo

<br>

Berikut adalah tutorial untuk melakukan integrasi menggunakan fitur - fitur sesuai dengan kebutuhan anda.

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#payment-options" data-toggle="tab">Memilih Metode Pembayaran</a></li>
  <li><a href="#set-redirect" data-toggle="tab">Set Redirect URL</a></li>
  <li><a href="#custom-field" data-toggle="tab">Custom Fields</a></li>
  <li><a href="#custom-expiry" data-toggle="tab">Custom Expiry</a></li>
  <li><a href="#three-D-secure" data-toggle="tab">Menon-aktifkan 3D Secure</a></li>
  <li><a href="#installment" data-toggle="tab">Cicilan</a></li>
  <li><a href="#bin-promo" data-toggle="tab">BIN Promo</a></li>
</ul>
{::options parse_block_html="true" /}
<div class="tab-content">
<div class="tab-pane active" id="payment-options"><!-- step 1--
<!-- satu -->

### Memilih Metode Pembayaran ###

Saat ini, Midtrans memiliki beberapa metode pembayaran yang dapat digunakan melalui VT-Web:<br>

| Card Payment | Direct Debit | e-Wallet | Bank Transfer | Convenience Store |
|---|---|---|---|---|
| [Kartu Kredit](#credit-card) | [Mandiri Clickpay](#mandiri-clickpay) | [Telkomsel Cash](#tcash) | [Virtual Account](#virtual-account) | [Indomaret](#indomaret) |
| | [CIMB Clicks](#cimb-clicks) | [XL Tunai](#xltunai) | [Mandiri Bill Payment](#mbill) |
| | [e-Pay BRI](#bri-pay) | [Mandiri E-cash](#mandiriecash) |
| | | [Indosat Dompetku](#dompetku) |
| | 

<br><br>
Pada bagian [VT-Web -- Integrasi](/id/vtweb/integration_php.html#step1), kami telah menjelaskan bagaimana mengaktifkan semua metode pembayaran yang anda miliki secara otomatis. Hal ini dapat diimplementasikan dengan **tidak** menyertakan parameter `enabled_payments`. Namun, pada kondisi tertentu anda mungkin perlu menampilkan beberapa metode pembayaran saja pada VT-Web. Jika anda menghadapi kondisi ini, silahkan ikuti petunjuk berikut.

### Kartu Kredit ###
{: #credit-card}

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000 // no decimal allowed for creditcard
        )
    );

...

?>
~~~

![redirect](vtweb_cc.png){: .img-responsive .img-thumbnail}

* * *

### Mandiri Clickpay ###
{: #mandiri-clickpay}

Mandiri Clickpay merupakan salah satu fitur pembayaran dari mandiri debit. Metode ini memungkinkan pelanggan melakukan transaksi pembayaran dengan memasukkan 16 digit nomor kartu mandiri debit dan Token PIN Mandiri sebagai validasi transaksi.

Untuk mengaktifkan metode pembayaran Mandiri Clickpay (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran Mandiri Clickpay dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `mandiri_clickpay` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("mandiri_clickpay")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Tab Mandiri Clickpay dapat digunakan oleh pelanggan untuk melakukan transaksi. Form beserta petunjuk pembayaran menggunakan Mandiri Clickpay akan ditampilkan pada halaman ini.
<br /><br />
![vtweb_mandiri](vtweb_mandiri.png){: .img-responsive .img-thumbnail}

* * *

### CIMB Clicks ###
{: #cimb-clicks}

CIMB Clicks adalah salah satu metode pembayaran internet banking yang disediakan oleh Bank CIMB Niaga. Jika metode ini digunakan, pelanggan akan diarahkan ke halaman pembayaran CIMB Clicks untuk melakukan transaksi. Info lebih lengkap dapat diperoleh di [website CIMB Niaga](http://www.cimbniaga.com/?ch=branchless&tab=question&lang=BI 'CIMB Niaga').

Untuk mengaktifkan metode pembayaran CIMB Clicks (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran CIMB Clicks dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `cimb_clicks` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("cimb_clicks")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Tab CIMB Clicks akan muncul pada halaman pembayaran VT-Web. Informasi dan petunjuk pembayaran menggunakan metode CIMB Clicks ditampilkan secara rinci pada halaman ini.
<br /><br />
![vtweb_cimb](vtweb_cimb.png){: .img-responsive .img-thumbnail}

* * *

### Virtual Account ###
{: #virtual-account}

Salah satu metode pembayaran yang di tawarkan oleh Midtrans adalah virtual account, saat ini Midtrans sudah terintegrasi dengan Bank Permata untuk proses virtual account. Dengan menggunakan layanan ini, pelanggan anda akan memiliki pilihan untuk melakukan pembayaran melalui transfer bank ke rekening virtual account Bank Permata.

Untuk mengaktifkan metode pembayaran virtual account (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran Virtual Account dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `bank_transfer` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("bank_transfer")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Tab Bank Transfer akan muncul pada halaman pembayaran VT-Web. Informasi dan petunjuk pembayaran menggunakan metode virtual account ditampilkan secara rinci pada halaman ini.
<br /><br />
![vtweb_VA](vtweb_banktransfer.png){: .img-responsive .img-thumbnail}

* * *

### e-Pay BRI ###
{: #bri-pay}

BRI Epay adalah salah satu metode pembayaran online melalui internet banking yang dikeluarkan oleh Bank BRI. Dengan menggunakan metode pembayaran BRI Epay, anda akan diarahkan ke halaman pembayaran BRI untuk melakukan pembayaran. Sebelum menggunakan layanan BRI Epay ini, pelanggan anda harus melakukan registrasi terlebih dahulu. Untuk info lebih lengkap silahkan mengunjungi [website e-Pay BRI](http://e-pay.bri.co.id 'e-Pay BRI').

Untuk mengaktifkan metode pembayaran e-Pay BRI (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran e-Pay BRI dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `bri_epay` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("bri_epay")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Tab e-Pay BRI akan muncul pada halaman pembayaran VT-Web. Informasi dan petunjuk pembayaran menggunakan metode e-Pay BRI ditampilkan secara rinci pada halaman ini.
<br /><br />
![vtweb_bripay](vtweb_bripay.png){: .img-responsive .img-thumbnail}

* * *

### Telkomsel Cash ###
{: #tcash}

Telkomsel Cash (T-CASH) merupakan layanan uang elektronik (E­-money) yang memberikan kemudahan bagi Anda dalam melakukan transaksi keuangan melalui ponsel. Metode ini memungkinkan pelanggan melakukan transaksi pembayaran dengan memasukkan 10 digit token yang didapat dari Telkomsel sebagai validasi transaksi.

Untuk mengaktifkan metode pembayaran Telkomsel Cash (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran Telkomsel Cash dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `telkomsel_cash` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("telkomsel_cash")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Tab Telkomsel Cash dapat digunakan oleh pelanggan untuk melakukan transaksi. Form beserta petunjuk pembayaran menggunakan Telkomsel Cash akan ditampilkan pada halaman ini.
<br /><br />
![vtweb_tcash](vtweb_tcash.png){: .img-responsive .img-thumbnail}

* * *

### Xl Tunai ###
{: #xltunai}

XL Tunai adalah layanan uang elektronik dari XL yang memungkinkan pelanggan XL melakukan transaksi keuangan hanya dengan menggunakan ponsel. Pelanggan melakukan pembayaran dengan cara memasukan nomor tertentu yang sudah di berikan oleh Midtrans sebagai validasi transaksi.

Untuk mengaktifkan metode pembayaran XL Tunai (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran XL Tunai dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `xl_tunai` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("xl_tunai")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Tab XL Tunai akan muncul pada halaman pembayaran VT-Web. Informasi dan petunjuk pembayaran menggunakan metode XL Tunai ditampilkan secara rinci pada halaman ini.
<br /><br />
![vtweb_XL](vtweb_xltunai.png){: .img-responsive .img-thumbnail}

* * *

### Mandiri Bill Payment ###
{: #mbill}

Mandiri bill payment adalah fitur yang disediakan oleh Bank Mandiri agar nasabah mereka lebih mudah melakukan pembayaran dengan menggunakan akun debit. Fitur ini dibuka untuk semua Mandiri e-channel seperti ATM, Internet Banking, dan mobile Banking. Dengan menggunakan e-channel ini, pelanggan dapat membayar tagihan kapan saja (24 jam).

Untuk mengaktifkan metode pembayaran Mandiri Bill Payment (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran Mandiri Bill Payment dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `echannel` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("echannel")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

**NOTE:**
<br />
Untuk payment channel ini, Anda harus mengirimkan parameter `item_detail`.

Halaman pembayaran Mandiri Bill Payment akan muncul di VT-Web. Informasi dan petunjuk pembayaran menggunakan metode Mandiri Bill payment ditampilkan secara rinci pada halaman ini.
<br /><br />
![vtweb_mbill](vtweb_mbill.png){: .img-responsive .img-thumbnail}

* * *

### Indomaret ###
{: #indomaret}

Salah satu metode pembayaran yang di tawarkan oleh Midtrans adalah Indomaret. Dengan menggunakan metode ini, setelah melakukan pembelian online pelanggan anda cukup mendatangi kasir indomaret terdekat untuk menyelesaikan pembayaran. Midtrans akan mengirimkan pemberitahuan secara real time untuk setiap pembayaran yang masuk.

Untuk mengaktifkan metode pembayaran Indomaret (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran Indomaret dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `cstore` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("cstore")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Halaman pembayaran Indomaret akan muncul di VT-Web. Informasi dan petunjuk pembayaran menggunakan metode Indomaret ditampilkan secara rinci pada halaman ini.
<br /><br />
![vtweb_indomrt](vtweb_indomrt.png){: .img-responsive .img-thumbnail}

* * *

### Indosat Dompetku ###
{: #dompetku}

Indosat Dompetku merupakan layanan uang elektronik (E-money) yang disediakan oleh Indosat yang memberikan kemudahan bagi customer dalam melakukan transaksi keuangan melalui ponsel. Customer harus melakukan registrasi nomor telepon terlebih dahulu sebelum menggunakannya untuk transaksi Indosat Dompetku.

Untuk mengaktifkan metode pembayaran Indosat Dompetku (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran Indosat Dompetku dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `indosat_dompetku` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("indosat_dompetku")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Tab Indosat Dompetku dapat digunakan oleh pelanggan untuk melakukan transaksi. Form beserta petunjuk pembayaran menggunakan Indosat Dompetku akan ditampilkan pada halaman ini.
<br /><br />
![vtweb_tcash](vtweb_dompetku.png){: .img-responsive .img-thumbnail}

<br>

* * *

### Mandiri E-cash ###
{: #mandiriecash}

Mandiri E-cash merupakan layanan uang elektronik (E-money) yang disediakan oleh Bank Mandiri yang memberikan kemudahan bagi customer dalam melakukan pembayaran online. Customer harus melakukan registrasi Mandiri E-cash dan mengisi saldo terlebih dahulu sebelum menggunakannya untuk transaksi Mandiri E-cash.

Untuk mengaktifkan metode pembayaran Mandiri E-cash (otomatis aktif pada mode Sandbox), merchant perlu:

1. Daftarkan metode pembayaran Mandiri E-cash dengan menghubungi sales representative Midtrans.
2. Menambahkan parameter `mandiri_ecash` pada variabel `enabled_payments`.

Menggunakan contoh transaksi pada bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("mandiri_ecash")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
Tab Mandiri E-cash dapat digunakan oleh pelanggan untuk melakukan transaksi. Form beserta petunjuk pembayaran menggunakan Mandiri E-cash akan ditampilkan pada halaman ini.
<br /><br />
![vtweb_mandiriecash](vtweb_mandiri_ecash.png){: .img-responsive .img-thumbnail}

<br>

</div>
<div class="tab-pane" id="three-D-secure">
### Menon-aktifkan 3D Secure ###

Kami sangat menyarankan agar fitur 3D secure digunakan pada transaksi kartu kredit anda. Penggunaan 3D Secure merupakan standar keamanan transaksi kartu kredit. 3D Secure mampu menambah lapisan keamanan transaksi kartu kredit melalui tambahan proses autentikasi pihak bank dan pelanggan anda. Jika pada kasus tertentu anda terpaksa untuk menon-aktifkan fitur 3D Secure, anda cukup menambahkan parameter `"credit_card_3d_secure" => false` saat request URL VT-Web.

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          // use false to disable 3ds
          "credit_card_3d_secure" => false
        ),
    'transaction_details' => array(
        'order_id' => 7145,
        'gross_amount' => 10000
        )
    );

...

?>
~~~

* * *

</div>
<div class="tab-pane" id="installment">

### Fitur Cicilan ###

#### Cicilan Online

Untuk mengaktifkan fitur cicilan online, merchant harus memiliki kesepakatan dengan acquiring bank terlebih dahulu. Acquiring bank akan menerbitkan MID Cicilan yang memungkinkan transaksi diubah menjadi cicilan secara otomatis. Saat ini bank yang sudah support adalah BNI dan Mandiri. Merchant juga perlu menanyakan kepada sales representative Midtrans apakah MID untuk cicilan sudah siap. Jika sudah siap, merchant cukup menambahkan parameter transaksi `installment` saat request URL VT-Web.

Selain itu, untuk menjaga agar customer hanya memasukkan nomor kartu yang berlaku untuk program cicilan, merchant perlu mengimplementasikan fitur BIN Promo bersama dengan fitur cicilan ini. Untuk informasi mengenai fitur BIN Promo, bisa dicek di bagian BIN Promo.

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
          // Add installment payment option
          "payment_options" => array(
              "installment" => array(
                  "required" => true,
                  "installment_terms" => array(
                      "bni" => array(6,12),
                      "mandiri" => array(6)
                    )
                )
            ),
          "credit_card_bins" => array("48111111", "3111", "5", "bni", "mandiri")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>

~~~

<br>

Berikut adalah contoh tampilan halaman VT-Web dengan fitur cicilan online:
<br />
![VT-Web Installment](vtweb_installment.png){: .img-responsive .img-thumbnail}

* * *

#### Cicilan Offline

Apabila merchant ingin menggunakan fitur cicilan dengan bank yang tidak bisa mengeluarkan MID Installment, merchant dapat menggunakan fitur cicilan offline. Dengan fitur cicilan offline ini, charge transaksi akan dilakukan secara full amount dan perubahan menjadi cicilan akan dilakukan setelahnya. Untuk informasi lebih lanjut dan bantuan, merchant bisa menghubungi Sales Representatif Midtrans.

Untuk menggunakan fitur cicilan offline, merchant cukup menambahkan parameter transaksi `offline_installment_term` saat request URL VT-Web dan fitur bin filter. Tujuan dari implementasi fitur bin filter adalah membatasi hanya kartu-kartu tertentu saja yang bisa menggukana fitur cicilan offline ini sesuai dengan kesepakatan antara merchant dengan bank penerbit kartu.

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
          // Add installment payment option
          "payment_options" => array(
              "installment" => array(
                  "required" => true,
                  'installment_terms' => new stdClass(),
                  "offline_installment_terms" => [3,6,12]
              )
            ),
           "credit_card_bins" => array("48111111", "3111", "5", "bni", "mandiri")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>

~~~

<br>

Berikut adalah contoh tampilan halaman VT-Web dengan fitur cicilan offline:
<br />
![VT-Web Installment](vtweb_offline_installment.png){: .img-responsive .img-thumbnail}

* * *

</div>
<div class="tab-pane" id="bin-promo">

### BIN Promo ###

BIN (Bank Identification Number) promo adalah fitur yang memungkinkan anda untuk menawarkan promosi berdasarkan bank penerbit kartu kredit tertentu yang dimiliki pelanggan anda. Bank penerbit kartu kredit dapat ditentukan dengan menggunakan BIN atau nama bank penerbit kartu. BIN merupakan **6 digit** pertama dari kartu kredit. Sebagai alternatif, anda juga boleh menggunakan **1-8** digit pertama kartu kredit atau nama penerbit kartu yang akan digunakan pada fitur BIN Promo.

Untuk menggunakan fitur ini, anda terlebih dahulu mengumpulkan daftar BIN yang menerima promo atau bisa menggunakan nama bank penerbit kartu. Daftar BIN atau nama bank tersebut menjadi parameter transaksi `credit_card_bins`, transaksi hanya dapat dilakukan oleh kartu kredit yang termasuk dalam daftar BIN atau kartu yang diterbitkan oleh bank tersebut.  Gunakan daftar BIN yang anda miliki sebagai nilai dari atribut `credit_card_bins` saat charge transaksi.

<br>

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
          //Register BIN list
          "credit_card_bins" => array("48111111", "3111", "5", "bni", "mandiri")
        ),
    'transaction_details' => array(
        'order_id' => 8033,
        'gross_amount' => 10000
        )
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

...

?>
~~~

<br />
Pada contoh di atas, BIN yang didaftarkan adalah `48111111`, `3111`, `5`, `bni`, `mandiri`. Jika kartu kredit dengan BIN "411111" atau kartu kredit yang tidak diterbitkan bank tersebut coba digunakan, transaksi akan ditolak dengan pesan error sebagai berikut:
<br />
![VT-Web BIN Error](vtweb_bin.png){: .img-responsive .img-thumbnail}

</div>
<div class="tab-pane" id="set-redirect">

### Set Redirect URL ###

Pelanggan akan dialihkan ke website anda setelah proses pembayaran diselesaikan.<br>
Secara default, redirection URL dapat dikonfigurasi melalui MAP Midtrans melalui [Persiapan Awal](/id/welcome/preparation.html#step4).

Dalam beberapa situasi, pelanggan dapat mengesampingkan konfigurasi redirection URL VT-Web untuk setiap transaksi dengan menambahkan parameter `finish_redirect_url`, `unfinish_redirect_url`, dan `error_redirect_url`.

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
          
          //Set Redirection URL Manually
          "finish_redirect_url" => "http://www.example.co.id/payment/finish",
          "unfinish_redirect_url" => "http://www.example.co.id/payment/unfinish",
          "error_redirect_url" => "http://www.example.co.id/payment/error"
        ),
    'transaction_details' => array(
        'order_id' => 8033,
        'gross_amount' => 10000
        )
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

..

?>
~~~

{::options parse_block_html="true" /}
<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br> Silahkan lihat [API Documentation - Set Redirect URL](/id/api/methods.html#SetRedirect) untuk informasi lebih mengenai atribut JSON.
</div>


<br />

</div>


<div class="tab-pane" id="custom-field">

### Set Custom Field ###

Fitur Pengaturan Custom Fields memungkinkan merchant untuk charge sebuah transaksi dengan data unik sesuai kebutuhan merchant.<br>

Label dari custom field dapat diatur di Merchant Admin Portal Midtrans, sesuai berikut.
![custom_field](custom_field.png){: .img-responsive .img-thumbnail}

<br>

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true
        ),
    'transaction_details' => array(
        'order_id' => 3033,
        'gross_amount' => 10000
        ),

    //Set Custom Field Value
    'custom_field1' => "Warehouse",
    'custom_field2' => "Normal"
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

...

?>
~~~

<br>

Transaction Status dari Order ID dengan custom field sesuai kode diatas:

![MAP_custom_field](MAP_custom_field.png){: .img-responsive .img-thumbnail}

<br />

Contoh HTTP Post Response dari Veritrans ketika Charge dengan Custom Fields:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "2f3b5be9-c745-493f-894d-87f8cbc480f6",
  "order_id": "3033",
  "payment_type": "bank_transfer",
  "transaction_time": "2015-05-22 13:27:13",
  "transaction_status": "settlement",
  "permata_va_number": "8778000660147988",
  "signature_key": "6f3368d58d1a31a9465e72456ecc33318572a3398d1465b5d12e68ef5bb541a70db3e498d0596db699a1af6d37ea8b86ae9cb5cbebc9eee90846369e9eac7bb2",
  "custom_field1": "Warehouse",
  "custom_field2": "Normal",
  "gross_amount": "10000.00"
}

~~~

</div>

<div class="tab-pane" id="custom-expiry">

### Set Custom Expiry ###

Fitur Pengaturan Custom Expiry memungkinkan merchant untuk set masa waktu berlaku pembayaran dengan status pending di setiap transaksi.

Berikut merupakan daftar pembayaran dengan status Pending:

- Bank Transfer: Permata Virtual Account, Mandiri Bill Payment
- Direct Debit: CIMB Clicks, e-pay BRI, BCA KlikPay
- e-Wallet: XL Tunai
- Convenience Store : Indomaret
<br>

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/vtweb/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("vtweb"),
          "credit_card_3d_secure" => true
        ),
    'transaction_details' => array(
        'order_id' => 8033,
        'gross_amount' => 10000
        ),

    //Set Custom Expiry
    'custom_expiry' => array (
      "order_time" => "2015-09-08 11:06:53 +0700",
      "expiry_duration" => 30,
      "unit" => "minute"
      )
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

...

?>
~~~

</div>
</div>
