## Going Live dengan Snap
---

##### *Tutorial berikut akan membantu anda melakukan perubahan konfigurasi dari Sandbox ke mode Production, Silahkan pilih metode integrasi yang digunakan. Apabila butuh bantuan, silahkan hubungi kami di [support@midtrans.com](mailto:support@midtrans.com "email support") atau kunjungi [halaman support kami](http://support.midtrans.com "Midtrans Support").*
------------------

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#php" data-toggle="tab">PHP</a></li>
  <li><a href="#magento" data-toggle="tab">Magento</a></li>
  <li><a href="#opencart" data-toggle="tab">Opencart</a></li>
  <li><a href="#prestashop" data-toggle="tab">Prestashop</a></li>
  <li><a href="#woocommerce" data-toggle="tab">Woocommerce</a></li>
</ul>

<br>

Jika Anda sudah selesai melakukan testing dan sudah siap untuk go live di Production Environment, ada beberapa hal yang perlu dipastikan:

{::options parse_block_html="true" /}
<div class="tab-content">
<div class="tab-pane active" id="php"><!-- PHP-->

#### Mendapatkan Snap Token

- Mengubah Veritrans-PHP library ke Production Environment. Ini dapat dilakukan dengan mengubah nilai `Veritrans_Config::$isProduction` menjadi `true`.
- Merubah ServerKey dari sandbox menjadi production.

  ~~~

  <?php
  require_once(dirname(__FILE__) . 'Veritrans.php');

  //Set Your server key
  Veritrans_Config::$serverKey = "<Set your Production ServerKey here>";

  // Uncomment for production environment
  Veritrans_Config::$isProduction = true;

  Veritrans_Config::$isSanitized = true;
  Veritrans_Config::$is3ds = true;

  $transaction = array(
      'transaction_details' => array(
          'order_id' => "<your order_id>",
          'gross_amount' => 10000 // no decimal allowed
          )
      );

  $snapToken = Veritrans_Snap::getSnapToken($transaction);
  ?>

  ~~~
  <br>

#### Menampilkan halaman pembayaran

- Rubah URL `snap.js` ke endpoint production. `https://app.midtrans.com/snap/snap.js`
- Merubah ClientKey dari sandbox menjadi production.

  ~~~ html

  <html>
    <head>
      <script type="text/javascript"
            src="https://app.midtrans.com/snap/snap.js"
            data-client-key="<Set Your Production Client Key Here>"></script> 
    </head>
    <body>
      <button id="pay-button">Pay!</button>
      <script type="text/javascript">
        var payButton = document.getElementById('pay-button');
        payButton.addEventListener('click', function () {
          snap.pay('<?php echo $snap_Token; ?>'); // store your snap token here
        });
      </script>
    </body>
  </html>

  ~~~

Selamat bertransaksi menggunakan Midtrans!
<br><br>
</div><!-- end of PHP-->

<div class="tab-pane" id="magento"><!-- Magento-->
- Mengubah `setting environment` di plugin Midtrans dari development menjadi production.
![Magento production](snap/snap-mag2.png){: .img-responsive .img-thumbnail}

Selamat bertransaksi menggunakan Midtrans!
<br /><br />
</div><!-- end of Magento-->

<div class="tab-pane" id="opencart"><!-- Opencart-->
- Mengubah `setting environment` di plugin Midtrans dari development menjadi production.
![OpenCart production](snap/snap-open2.png){: .img-responsive .img-thumbnail}

Selamat bertransaksi menggunakan Midtrans!
<br /><br />
</div><!-- end of Opencart-->

<div class="tab-pane" id="prestashop"><!-- Prestashop -->
- Mengubah `setting environment` di plugin Midtrans dari development menjadi production.
![Prestashop production](snap/snap-presta2.png){: .img-responsive .img-thumbnail}

Selamat bertransaksi menggunakan Midtrans!
<br /><br />
</div><!-- end of Prestashop -->

<div class="tab-pane" id="woocommerce"><!-- Woocommerce -->
- Mengubah `setting environment` di plugin Midtrans dari development menjadi production.
![Woo production](snap/snap-woo2.png){: .img-responsive .img-thumbnail}

Selamat bertransaksi menggunakan Midtrans!
<br /><br />
</div><!-- end of Woocommerce -->

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br>Jumlah minimum untuk melakukan transaksi pada mode Production adalah Rp 10.000.

</div>
</div><!-- end of tab-content-->
