## Snap: Fitur Tambahan
---

##### *Tutorial berikut akan membantu anda meng-implementasikan fitur tambahan di Snap. Apabila butuh bantuan, silahkan hubungi kami di [support@midtrans.com](mailto:support@midtrans.com "email support") atau kunjungi [halaman support kami](http://support.midtrans.com "Midtrans Support").*
---

Saat ini Snap memiliki fitur tambahan:

1. Memilih Metode Pembayaran.
2. Set Custom Expiration.

Snap juga memiliki fitur tambahan untuk pembayaran kartu kredit:

1. Cicilan.
2. BIN Filter.

<br>

Berikut adalah tutorial untuk melakukan integrasi menggunakan fitur - fitur sesuai dengan kebutuhan anda.

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#payment-options" data-toggle="tab">Memilih Metode Pembayaran</a></li>
  <li><a href="#custom-expiry" data-toggle="tab">Custom Expiry</a></li>
  <li><a href="#installment" data-toggle="tab">Cicilan</a></li>
  <li><a href="#bin-promo" data-toggle="tab">BIN Promo</a></li>
</ul>
{::options parse_block_html="true" /}
<div class="tab-content">
<div class="tab-pane active" id="payment-options"><!-- step 1--
<!-- satu -->

### Memilih Metode Pembayaran ###

Pada bagian [Snap -- Integrasi](/id/snap/integration_php.html#step1), kami telah menjelaskan bagaimana mengaktifkan semua metode pembayaran yang anda miliki secara otomatis. Namun, pada kondisi tertentu Anda mungkin hanya ingin menampilkan beberapa metode pembayaran saja pada Snap. Untuk melakukan hal ini, Anda perlu menambahkan parameter berikut:

~~~ json

"enabled_payments": ["credit_card", "mandiri_clickpay", "cimb_clicks", 
    "bca_klikbca", "bca_klikpay", "bri_epay", "telkomsel_cash", "echannel", 
    "bbm_money", "xl_tunai", "indosat_dompetku", "mandiri_ecash", "permata_va",
    "bca_va", "other_va", "kioson", "indomaret"]

~~~

Group pembayaran merupakan kumpulan metode pembayaran dengan karakteristik hampir sama yang disatukan di dalam grup, sehingga Anda tidak perlu memasukan satu persatu metode pembayaran tersebut.

Grup pembayaran yang ada adalah:

`bank_transfer` = permata_va, bca_va. <br> 
`store` = kioson, indomaret.

Contoh kode dalam bahasa pemrograman PHP adalah sebagai berikut:

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000 // no decimal allowed
    ),
    'enabled_payments' => array('credit_card')
);

...

?>
~~~

<br>

Kode di atas akan menampilkan halaman pembayaran kartu kredit saja pada Snap.
![redirect](snap/other-cc.png){: .img-responsive .img-thumbnail}

</div>

<div class="tab-pane" id="custom-expiry">

### Pengaturan Custom Expiry ###

Fitur Pengaturan Custom Expiry memungkinkan merchant untuk set masa waktu berlaku pembayaran untuk setiap transaksi. Menggunakan transaksi yang sama pada bagian [Integrasi](/id/snap/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000 // no decimal allowed
    ),

    'expiry' => array (
      "start_time" => "2015-09-08 11:06:53 +0700",
      "unit" => "minute",
      "duration" => 1
    )
);

...

?>
~~~

<br>

| Parameter | Description |
|---|---|
| start_time<br>String(255)<br>*(optional)* | Timestamp dalam format `yyyy-MM-dd hh:mm:ss Z`. Jika tidak diset, waktu transaksi akan digunakan sebagai `start_time` (saat customer charge) |  
| duration<br>integer<br>*(required)* | Expiry duration |
| unit<br>String<br>*(required)* | Expiry unit. Pilihan: `day`, `hour`, `minute` (Bentuk plural dapat digunakan) |

</div>

<div class="tab-pane" id="installment">

### Fitur Cicilan ###

#### Cicilan Online

Untuk mengaktifkan fitur cicilan online, merchant harus memiliki kesepakatan dengan acquiring bank terlebih dahulu. Acquiring bank akan menerbitkan MID Cicilan yang memungkinkan transaksi diubah menjadi cicilan secara otomatis. Merchant juga perlu menanyakan kepada sales representative Midtrans apakah MID untuk cicilan sudah siap. Jika sudah siap, merchant cukup menambahkan parameter transaksi `installment` saat request token Snap.

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/snap/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
    ),

    'credit_card' => array(
        'secure' => true,
        'installment' => array(
            'required' => true,
            'terms' => array(
                'bni' => [6, 12],
                'mandiri' => [6, 12]
            )
        )
    )
);

...

?>
~~~

<br>
Berikut adalah contoh tampilan halaman Snap dengan fitur cicilan online:
![Snap Installment](snap_installment.png){: .img-responsive .img-thumbnail}

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Caution:</span><br>
  Term cicilan akan tampil pada halaman pembayaran Snap setelah customer memasukan nomor kartu kredit.
</div>

<br>

* * *

#### Cicilan Offline

Apabila merchant ingin menggunakan fitur cicilan dengan bank yang tidak bisa mengeluarkan MID Installment, merchant dapat menggunakan fitur cicilan offline. Dengan fitur cicilan offline ini, charge transaksi akan dilakukan secara full amount dan perubahan menjadi cicilan akan dilakukan setelahnya. Untuk informasi lebih lanjut merchant dapat menghubungi Sales Representatif Midtrans.

Untuk menggunakan fitur cicilan offline, Anda cukup menambahkan parameter transaksi `installment` saat request token Snap digabungkan dengan fitur bin filter. Tujuan dari implementasi fitur bin filter adalah membatasi hanya kartu-kartu tertentu saja yang bisa menggunakan fitur cicilan offline ini sesuai dengan kesepakatan antara merchant dengan bank penerbit kartu.

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/snap/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
    ),

    'credit_card' => array(
        'secure' => true,
        'installment' => array(
            'required' => true,
            'terms' => array(
                'offline' => [6, 12] //Offline installment terms
            )
        )
    ),
    'whitelist_bins' => array(
        '481111',
        '410505'
    )
);

...

?>
~~~

<br>

Berikut adalah contoh tampilan halaman Snap dengan fitur cicilan offline:
![Snap Installment2](snap/other-installment2.png){: .img-responsive .img-thumbnail}

<br>

* * *

</div>
<div class="tab-pane" id="bin-promo">

### BIN Filter ###

BIN (Bank Identification Number) filter adalah fitur yang memungkinkan anda untuk menawarkan promosi berdasarkan bank penerbit kartu kredit tertentu yang dimiliki pelanggan anda. BIN merupakan **1-6 digit** pertama dari nomor kartu kredit, yang mengidentifikasikan bank penerbit kartu kredit tersebut.

Untuk menggunakan fitur ini, Anda terlebih dahulu mengumpulkan daftar BIN yang menerima promo atau bisa menggunakan nama bank penerbit kartu. Daftar BIN atau nama bank tersebut menjadi nilai dari atribut parameter `whitelist_bins`. Transaksi hanya dapat dilakukan oleh kartu kredit yang termasuk dalam daftar BIN atau kartu yang diterbitkan oleh bank tersebut.

Menggunakan transaksi yang sama dengan bagian [Integrasi](/id/snap/integration_php.html#step1), contoh kode PHP yang dapat digunakan adalah sebagai berikut:

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
    ),

    'whitelist_bins' => array(
        '481111',
        '411111',
        'bni'
    )
);

...

?>
~~~

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Caution:</span><br>
  Kami sudah menyimpan nomor BIN untuk bank BNI, Mandiri dan CIMB. Anda cukup memasukan nama bank tersebut sebagai nilai untuk parameter whitelist bins.
</div>

<br />
Berikut adalah contoh tampilan halaman Snap dengan fitur BIN Filter:

![Snap BIN Error](snap/other-bin2.png){: .img-responsive .img-thumbnail}
<br>**Invalid card number**, karena `481112` tidak termasuk dalam nilai untuk parameter whitelist_bins.

<br>

![Snap BIN Success](snap/other-bin1.png){: .img-responsive .img-thumbnail}
<br>**Valid card number**, karena `481111` termasuk dalam nilai untuk parameter whitelist_bins.

<br>

</div>
</div>
