## Integration
---

##### *The tutorial below will assist you in integrating Mobile Apps. If further assistance is required, please contact us at [support@veritrans.co.id](mailto:support@veritrans.co.id "email support") or visit our [support page](http://support.veritrans.co.id "Veritrans Support").*
---

Please choose the mobile platform that you wish to integrate with:
<br /><br />

<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail">
		<%= link_to("https://github.com/veritrans/veritrans-android") do image_tag("/images/icon_android.jpg"); end%>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail">
		<%= link_to("https://github.com/veritrans/Veritrans-ios-sdk") do image_tag("/images/icon_ios.jpg"); end%>
		</div>
	</div>
 </div>

<br>

#### How to pay with credit card on iOS
<iframe width="600" height="400" src="https://www.youtube.com/embed/EefsTMXCscg" frameborder="0" allowfullscreen></iframe>

<br>

#### How to pay with BCA VA on iOS
<iframe width="600" height="400" src="https://www.youtube.com/embed/mlm-VlS-uNo" frameborder="0" allowfullscreen></iframe>

<br>