@import "font-awesome-sprockets";
@import "font-awesome";

$primary-color-blue-navy: #0F2B4C;
$primary-color-blue-aqua: #07ADDC;
$primary-color-blue-ocean: #2F80C2;
$primary-color-blue-sky: #88C7E8;
$primary-color-blue-light: #e8f7fe;
$secondary-color-orange: #faaf3f;
$secondary-color-orange-sun: #facc15;
$secondary-color-green: #8bc53f;
$secondary-color-red: #d3385c;
$secondary-color-grey: #929497;

$text-color: $secondary-color-grey;
$text-color-header: #333;
$text-color-white: #fff;
$text-color-light-grey: lighten($secondary-color-grey, .1);

$bg-color-white: #fff;
$bg-color-ocean-dark: darken($primary-color-blue-ocean, 30%);

$white: #f0f0f0;
$white-highlight: #fff;

$text-size-xs: 15px;
$text-size-sm: 20px;
$text-size-md: 28px;
$text-size-lg: 38px;
$text-size-xl: 48px;
$text-size-xxl: 62px;

// Media Query
$xlarge-break : "only screen and (max-width : 1199px)";
$large-break : "only screen and (max-width : 991px)";
$medium-break : "only screen and (max-width : 767px)";
$small-break : "only screen and (max-width : 479px)";
$min-medium : "only screen and (min-width : 768px)";
$min-large : "only screen and (min-width : 992px)";
$min-xlarge : "only screen and (min-width : 1200px)";


// Transitions
@mixin transition{
	transition: all .25s ease-in-out 0s;
	-moz-transition: all .25s ease-in-out 0s;
	-webkit-transition: all .25s ease-in-out 0s;
}

// Roundy
$rounded-base: 4px;
$rounded-lg: $rounded-base * 2;
$rounded-sm: $rounded-base - 1;

@mixin roundy-none {
  border-radius: $rounded-base*0;
  -moz-border-radius: $rounded-base*0;
  -webkit-border-radius: $rounded-base*0;
}

@mixin roundy-lg {
  border-radius: $rounded-lg;
  -moz-border-radius: $rounded-lg;
  -webkit-border-radius: $rounded-lg;
}

@mixin roundy-sm {
  border-radius: $rounded-sm;
  -moz-border-radius: $rounded-sm;
  -webkit-border-radius: $rounded-sm;
}

// Box Shadow
@mixin box-shadow-thin{
  box-shadow:0 0 0 1px rgba(#000, .08);
  -webkit-box-shadow:0 0 0 1px rgba(#000, .08);
  -moz-box-shadow:0 0 0 1px rgba(#000, .08);
}
@mixin box-shadow-none{
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
  -moz-box-shadow:none !important;
}
@mixin box-shadow-normal{
  box-shadow:0 0 4px rgba(#000, .3);
  -webkit-box-shadow:0 0 4px rgba(#000, .3);
  -moz-box-shadow:0 0 4px rgba(#000, .3);
}

// circle
@mixin circle {
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius: 50%;
}

@mixin roundy-default {
  border-radius: $rounded-base;
  -moz-border-radius: $rounded-base;
  -webkit-border-radius: $rounded-base;
}

.btn{
  @include transition;
  @include roundy-sm;
  font-size: 13px;
  &:focus,
  &:focus:active,
  &.focus{
    @include box-shadow-none;
    outline: none !important;
  }
}
.btn-midtrans {
  color: $white;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  position: relative;
  overflow: hidden;
  &:hover,
  &:focus,
  &:focus:active,
  &.focus {
    color: $white-highlight;
  }
  &.aqua {
    background-color: $primary-color-blue-aqua;
    &:hover{
      background-color: darken($primary-color-blue-ocean, 0%);
      color: #fff;
    }
  }
  &.glass{
    background-color: rgba(#fff,.25);
    box-shadow:0 0 0  rgba(#000, .1);
    color: #fff;
    &:hover{
      background-color: $primary-color-blue-aqua;
    }
  }
  &.ocean {
    background-color: $primary-color-blue-ocean;
    &:hover{
      background-color: darken($primary-color-blue-ocean, 5%);
    }
  }
  &.sky {
    background-color: $primary-color-blue-sky;
  }
  &.orange {
    background-color: $secondary-color-orange;
  }
  &.bordered {
    border: 2px solid white;
    &.aqua{
      border: 2px solid $primary-color-blue-aqua;
      background-color: transparent;
      color: $primary-color-blue-aqua;
    }
    &.ocean{
      border: 2px solid $primary-color-blue-ocean;
      background-color: transparent;
      color: $primary-color-blue-ocean;
    }
  }
  &.square {
    border-radius: 0;
  }
}

.md-navbar {
  background: #fff;
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  .md-navbar-nav li a {
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
    &:hover {
      color: $text-color-header;
      ;
    }
  }
}
.md-home-navbar {
  @extend .md-navbar;
  background: transparent;
  .md-navbar-nav li a {
    font-weight: 600;
    text-transform: uppercase;
    color: $text-color-white;
    &:hover {
      color: $text-color-white;
    }
  }
  &.affix {
    background: #fff;
    .md-navbar-nav li a {
      font-weight: 600;
      text-transform: uppercase;
      color: #777;
      &:hover {
        color: $text-color-header;
        ;
      }
    }
  }
}
.md-sub-navbar {
  @extend .md-navbar;
  padding-top: 55px;
}

.md-header {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 1000;
  position: relative;
  @include transition;
  &.header-white {
    background-color: #fff;
  }
  &.header-transparent {
    background-color: transparent;
  }
  .position-static {
    position: static !important;
  }
  &.position-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
  }


  .logo-midtrans {
    width: 170px;
    height: 28px;
    display: inline-block;
    background-image: url("https://midtrans.com/assets/images/logo-midtrans-color.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 170px auto;
    text-indent: -9999em;
    margin-top: 15px;
    margin-bottom: 15px;
    @include transition;
  }
  .md-nav {
    margin: 0;
    padding: 0;
    float: right;
    display: block;
    list-style: none;
    font-size: 13px;
    @include transition;
    @media #{$medium-break}{
      display: none;
    }
    &>li {
      display: inline-block;
      &.dropdown {
        position: static !important;
        cursor: pointer;
      }
      &>a {
        height: 60px;
        display: block;
        line-height: 60px;
        padding: 0 20px;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        &>[class^="fa"] {
          @include transition;
          display: inline-block;
          margin-left: 3px;
        }
      }
      &:last-child{
        &>a{
          padding-right:0;
        }
      }
    }
    @media #{$medium-break}{
      float: none;
      margin-right:-15px;
      margin-left:-15px;
      &>li{
        display: block;
        width: 100%;
      }
    }
    &.collapse{
      display: none;
      &.in{
        display: block;
      }
    }
    .md-dd-nav {
      display: block !important;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      float: left;
      width: 100%;
      padding: 30px 0;
      margin: 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: lighten($secondary-color-grey, 40%);
      background-clip: padding-box;
      transform: translate3d(0, 0, 0);
      border: none;
      @include roundy-none;
      @include transition;
      @include box-shadow-thin;
      h1, h2, h3, h4, h5 {
        margin-top: 0;
      }
      .submenu-description {
        padding-bottom: 10px;
        padding-right: 15px;
        position: relative;
        color: $secondary-color-grey;
        &:after {
          content: '';
          width: 1px;
          height: 100%;
          border-right: 1px solid #ededed;
          position: absolute;
          right: 0;
          top: 0;
        }
        h3 {
          color: $primary-color-blue-aqua;
          font-weight: 300;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
          font-weight: 200;
          margin: 0;
        }
      }
      .submenu-link {
        width: 100%;
        height: 140px;
        padding-bottom: 60px;
        position: relative;
        color: $secondary-color-grey;
        @media #{$large-break}{
          height:180px;
        }
        .summary {
          color: inherit;
          text-decoration: none;
          h4 {
            font-weight: 400;
            color: darken($secondary-color-grey, 20%);
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
            font-weight: 300;
          }
        }
        &>[class^="btn"] {
          position: absolute;
          bottom: 0;
          left: 0;
          &.btn-sm {
            font-size: 11px;
          }
        }
      }
    }
    .open {
      &>.md-dd-nav,
      &>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 100%;
        height: auto;
      }
      &.dropdown {
        &>a {
          color: $primary-color-blue-aqua;
          &>[class^="fa"] {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &.affix,
  &.active,
  &.header-white {
    background-color: #fff;
    @include box-shadow-thin;
    .logo-midtrans {
      background-image: url("https://midtrans.com/assets/images/logo-midtrans-color.svg");
    }
    #nav-toggle{
      span{
        background: darken($secondary-color-grey, 30%);
      }
      &.open{
        span{
          background:$secondary-color-red;
        }
      }
    }
    .md-nav {
      &>li {
        &>a {
          color: darken($secondary-color-grey, 20%);
        }
      }
    }
  }
}
#nav-toggle{
  width: 28px;
  height: 20px;
  position: absolute;
  top:20px;
  right:15px;
  display: none;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  @media #{$medium-break}{
    display: block;
  }
  @media #{$min-medium}{
    display: none !important;
  }
  span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: $secondary-color-orange;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 8px;
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      top:8px;
      left: -60px;
    }
    &:nth-child(3) {
      top: 8px;
      transform: rotate(-135deg);
    }
  }
  &.collapsed{
    span{
      background:#fff;
      &:nth-child(1) {
        top: 0px;
        transform: rotate(0deg);
      }
      &:nth-child(2) {
        top: 8px;
        left:0;
        opacity: 1;
      }
      &:nth-child(3) {
        top: 16px;
        transform: rotate(0deg);
      }
    }
  }
}
.nav-overlay{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.5) 100%);
  @include transition;
  z-index: 777;
  &.active{
    opacity: 1;
    visibility: visible;
    @media #{$min-medium}{
      display: none !important;
    }
  }
}
.nav-wrapper{
  overflow: hidden;
  @media #{$min-medium}{
    display:none !important;
  }
  .inner-wrapper{
    display: block;
    float: left;
    width: 100%;
    background: linear-gradient(135deg, $primary-color-blue-ocean 28%, $primary-color-blue-aqua 100%);
    position: relative;
    padding:15px 0 20px 0;
    margin-top:8px;
    margin-bottom:20px;
    @include roundy-lg;
    @include box-shadow-normal;
    &:before{
      content:'';
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $primary-color-blue-aqua;
      position: absolute;
      right:8px;
      top:0px;
      @include transition;
      display: none;
    }
    .mobile-nav{
      width:100%;
      display:block;
      list-style:none;
      margin:0;
      padding:0;
      float: left;
      font-size:18px;
      &>li{
        width:100%;
        float: left;
        &.half{
          width:50%;
          float: left;
          font-size:15px;
        }
        .nav-title{
          padding:6px 15px;
          font-size:$text-size-xs + 2;
          color:$secondary-color-orange-sun;
          font-weight:400;
          display: block;
          float: left;
          letter-spacing: .2px;
        }
        .nav-space{
          width:100%;
          height: 1px;
          border-bottom:1px solid rgba(#fff, .08);
          display: block;
          margin-top:14px;
          margin-bottom:14px;
          float: left;
        }
        &>a{
          padding:2px 15px;
          display: block;
          text-decoration: none;
          color: #fff;
          margin-bottom: 2px;
        }
      }
    }
  }
  &.collapse{
    &.in{
      .inner-wrapper{
        &:before{
          top:-8px;
        }
      }
    }
  }
}
.md-header{
  &.header-white,
  &.affix{
    #nav-toggle{
      span{
        background:$secondary-color-orange;
      }
      &.collapsed{
        span{
          background: $secondary-color-grey;
        }
      }
    }
    .nav-wrapper{
      margin-left:-15px;
      margin-right:-15px;
      .inner-wrapper{
        margin-top:0;
        margin-bottom: 0;
        border-top:1px solid rgba(#000, .05);
        @include roundy-none;
        &:before{
          display: none;
        }
      }
    }
  }
}

.midtrans-sub-header {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgba(#fff, .9);
  box-shadow: 0 0 0 1px rgba(#000, .1);
  z-index: 999;
  @include transition;
  .position-static {
    position: static !important;
  }
  .logo-services {
    width: 135px;
    height: 22px;
    display: inline-block;
    text-indent: -9999em;
    margin-top: 14px;
    margin-bottom: 14px;
    float: left;
  }
  .midtrans-sub-nav {
    margin: 0;
    padding: 0;
    float: right;
    display: block;
    list-style: none;
    font-size: 14px;
    @include transition;
    &>li {
      display: inline-block;
      .dropdown {
        position: static !important;
        &>a {
          height: 50px;
          display: block;
          line-height: 50px;
          padding: 0 20px;
          text-decoration: none;
          color: darken($secondary-color-grey, 20%);
          font-weight: 300;
          text-transform: lowercase;
        }
      }
      &>a {
        height: 50px;
        display: block;
        line-height: 50px;
        padding: 0 20px;
        text-decoration: none;
        color: darken($secondary-color-grey, 20%);
        font-weight: 300;
        text-transform: lowercase;
        &.highlight {
          color: $secondary-color-orange;
          font-weight: 400;
        }
        &.pricing{
          font-weight: 400;
          color:$secondary-color-red;
        }
        &.sign-up,
        &.demo {
          line-height: 24px;
          padding: 0 10px;
          height: auto;
          color: $primary-color-blue-aqua;
          border: 1px solid $primary-color-blue-aqua;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 12px;
          margin-left: 8px;
          @include roundy-sm;
          &:hover {
            background-color: $primary-color-blue-aqua;
            color: #fff;
          }
        }
        &>[class^="fa"] {
          @include transition;
          display: inline-block;
          margin-left: 3px;
        }
      }
    }
    @media #{$medium-break}{
      width: 100%;
      font-size: 16px;
      float: left;
      color:#fff;
      padding:0;
      &>li{
        display: block;
        width: 100%;
        float: left;
        .dropdown{
          .dropdown-toggle{
            display: none;
          }
        }
        &>a{
          padding:0 15px;
          line-height: 42px;
          height: auto;
          text-transform: capitalize;
          &.sign-up,
          &.demo{
            display: none;
          }
          &.highlight{
            line-height: 40px;
            background-color: rgba(#000, .02);
          }
        }
      }
    }
    .midtrans-dd-nav {
      display: block !important;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      float: left;
      width: 100%;
      padding: 30px 0;
      margin: 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: lighten($secondary-color-grey, 40%);
      background-clip: padding-box;
      transform: translate3d(0, 0, 0);
      border: none;
      @include roundy-none;
      @include transition;
      @include box-shadow-thin;
      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-top: 0;
      }
      .submenu-description {
        padding-bottom: 10px;
        padding-right: 15px;
        position: relative;
        color: $secondary-color-grey;
        &:after {
          content: '';
          width: 1px;
          height: 100%;
          border-right: 1px solid #ededed;
          position: absolute;
          right: 0;
          top: 0;
        }
        h3 {
          color: $primary-color-blue-aqua;
          font-weight: 300;
          margin-bottom: 10px;
          @media #{$xlarge-break}{
            font-size: 14px !important;
            color: $secondary-color-orange-sun;
          }
        }
        p {
          font-size: 18px;
          font-weight: 200;
          margin: 0;
          @media #{$medium-break}{
            display: none;
          }
        }
      }
      .submenu-link {
        width: 100%;
        height: 138px;
        padding-bottom: 60px;
        position: relative;
        color: $secondary-color-grey;
        @media #{$large-break}{
          height:180px;
        }
        .summary {
          color: inherit;
          text-decoration: none;
          h4 {
            font-weight: 400;
            margin-bottom: 10px;
            color: darken($secondary-color-grey, 20%);
          }
          p {
            font-size: 14px;
            font-weight: 300;
          }
        }
        &>[class^="btn"] {
          position: absolute;
          bottom: 0;
          left: 0;
          &.btn-sm {
            font-size: 11px;
          }
        }
      }
      @media #{$medium-break}{
        visibility: visible;
        opacity: 1;
        position:static;
        background-color:transparent;
        @include box-shadow-none;
        padding:20px 0 10px 0;
        border-bottom: 1px solid rgba(0,0,0,.08);
        border-top: 1px solid rgba(0,0,0,.08);
        .submenu-description{
          padding:0;
          &:after{
            display: none;
          }
        }
        .submenu-link{
          height: auto;
          padding-bottom: 0;
          .summary{
            h4{
              font-size: 16px;
              font-weight: 300;
            }
            p{
              display: none;
            }
          }
          &>[class^="btn"]{
            display: none;
          }
        }

      }
    }
    .open {
      &>.midtrans-dd-nav,
      &>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 100%;
        height: auto;
      }
      &.dropdown {
        &>a {
          color: $primary-color-blue-aqua;
          &>[class^="fa"] {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &.affix {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
    @include box-shadow-thin;
    .logo-midtrans {
      background-image: url("/assets/images/logo-midtrans-color.png");
    }
    .midtrans-nav {
      &>li {
        &>a {
          color: darken($secondary-color-grey, 20%);
        }
      }
    }
  }
  // SUB NAV OPTIONS
  &.payments{
    background-color: #fff;
    &.affix{
      .logo-services{
        font-weight: 400;
      }
    }
    .logo-services{
      text-indent: 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 50px;
      height: auto;
      width: auto;
      margin-top: 0;
      margin-bottom: 0;
      text-decoration: none;
      color: darken($secondary-color-grey, 20%);
      text-transform: capitalize;
      &:before {
        content: "Payments";
        display: inline;
      }
    }
    .midtrans-sub-nav {
      &>li {
        &>a {
          &.sign-up,
          &.demo {
            color: $primary-color-blue-aqua;
            border: 1px solid $primary-color-blue-aqua;
            &:before {
              content: "SIGN UP";
              display: inline;
            }
            &:hover {
              background-color: $primary-color-blue-aqua;
              color: #fff;
            }
          }
        }
      }
    }
    .midtrans-dd-nav {
      .submenu-description {
        h3 {
          color: $primary-color-blue-aqua;
        }
      }
    }
    .open {
      &.dropdown {
        &>a {
          color: $primary-color-blue-aqua;
        }
      }
    }
  }
  &.aegis{
    background-color: #fff;
    .logo-services{
      width: 162px;
      height: 50px;
      margin:0;
      text-indent: 0;
      font-size:18px;
      font-weight:300;
      color: darken($secondary-color-grey, 20%);
      text-transform: capitalize;
      position: relative;
      overflow: hidden;
      &:before{
        content:"Risk Management";
        position: absolute;
        width: 200px;
        top:0;
        left:0;
        line-height: 50px;
        opacity: 1;
        @include transition;
      }
       &:after{
        content:"Risk Management";
        background-image: url('/assets/images/logo-aegis.svg');
        background-repeat: no-repeat;
        background-position: center left;
        background-size:89px 22px;
        position: absolute;
        text-indent: -999em;
        width: 89px;
        top:20px;
        left:0;
        line-height: 50px;
        opacity: 0;
        @include transition;
      }
    }
    .midtrans-sub-nav {
      &>li {
        &>a {
          &:hover {
            color: $secondary-color-orange-sun;
          }
          &.highlight {
            color: $secondary-color-orange-sun;
          }
          &.sign-up,
          &.demo {
            color: $secondary-color-orange;
            border: 1px solid $secondary-color-orange;
            &:before {
              content: "REQUEST DEMO";
              display: inline;
            }
            &:hover {
              background-color: $secondary-color-orange;
              color: #fff;
            }
          }
        }
      }
      @media #{$medium-break}{
        border-top:1px solid rgba(#000, .05);
        padding:15px 0;
        text-align: center;
        &>li{
          &>a{
            line-height: 30px;
          }
        }
      }
    }
    .midtrans-dd-nav {
      .submenu-description {
        h3 {
          color: $secondary-color-orange;
        }
      }
    }
    .open {
      &.dropdown {
        &>a {
          color: $secondary-color-orange-sun;
        }
      }
    }
    &.affix{
      background-color: #fff;
      .logo-services{
        &:before{
          opacity: 0;
          position: absolute;
          width: 200px;
          top:-20px;
          left:0;
          line-height: 50px;
        }
        &:after{
          top:0;
          opacity: 1;
        }
      }
    }
  }
  &.prism {
    .logo-services{
      width: 162px;
      height: 50px;
      margin:0;
      text-indent: 0;
      font-size:20px;
      font-weight:300;
      color: darken($secondary-color-grey, 20%);
      text-transform: capitalize;
      position: relative;
      overflow: hidden;
      &:before{
        content:"Chat Commerce";
        position: absolute;
        width: 200px;
        top:0;
        left:0;
        line-height: 50px;
        opacity: 1;
        @include transition;
      }
      &:after{
        content:"Chat Commerce";
        background-image: url('/assets/images/logo-prism.svg');
        background-repeat: no-repeat;
        background-position: center left;
        background-size:89px 22px;
        position: absolute;
        text-indent: -999em;
        width: 89px;
        top:20px;
        left:0;
        line-height: 50px;
        opacity: 0;
        @include transition;
      }
    }
    .midtrans-sub-nav {
      &>li {
        &>a {
          &:hover {
            color: $secondary-color-red;
          }
          &.sign-up,
          &.demo {
            color: $secondary-color-red;
            border: 1px solid $secondary-color-red;
            &:before {
              content: "REQUEST DEMO";
              display: inline;
            }
            &:hover {
              background-color: $secondary-color-red;
              color: #fff;
            }
          }
        }
      }
    }
    .midtrans-dd-nav {
      .submenu-description {
        h3 {
          color: $secondary-color-red;
        }
      }
    }
    .open {
      &.dropdown {
        &>a {
          color: $secondary-color-red;
        }
      }
    }
    &.affix{
      background-color: rgba(#fff, .9);
      .logo-services{
        width: 89px;
        &:before{
          opacity: 0;
          position: absolute;
          width: 200px;
          top:-20px;
          left:0;
          line-height: 50px;
        }
        &:after{
          top:0;
          opacity: 1;
        }
      }
    }
  }

  // MOBILE SUB NAV
  .btn-signup-mobile{
    position: absolute;
    right:15px;
    top:10px;
    height: 30px;
    line-height: 30px;
    padding:0 15px;
    display: inline-block;
    border:1px solid $secondary-color-grey;
    color: $secondary-color-grey;
    font-size:14px;
    font-weight:400;
    text-decoration:none;
    @include roundy-default;
    @media #{$min-medium}{
      display:none;
    }
  }

  #sub-nav-toggle{
    width: 20px;
    height: 20px;
    position: absolute;
    top:18px;
    right:50%;
    margin-right:-10px;
    display: none;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
    @media #{$medium-break}{
      display: block;
    }
    @media #{$min-medium}{
      display: none !important;
    }
    span{
      display: block;
      position: absolute;
      height: 2px;
      width: 50%;
      border-radius: 10px;
      background: $secondary-color-orange;
      opacity: 1;
      @include transition;
      &:nth-child(1) {
        top: 8px;
        left:2px;
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        opacity: 1;
        top:8px;
        left: calc(50% - 2px);
        transform: rotate(45deg);
      }
    }
    &.collapsed{
      span{
        background:darken($secondary-color-grey, 20%);
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  &.payments{
    .btn-signup-mobile{
      border-color:$primary-color-blue-aqua;
      color: $primary-color-blue-aqua;
    }
    #sub-nav-toggle{
      span{
        background: $primary-color-blue-aqua;
      }
      &.collapsed{
        span{
          background:darken($secondary-color-grey, 20%);
        }
      }
    }
  }
  &.aegis{
    .btn-signup-mobile{
      border-color:$secondary-color-orange;
      color: $secondary-color-orange;
    }
  }
  .sub-nav-overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    visibility: hidden;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.5) 100%);
    @include transition;
    z-index: 999;
    &.active{
      opacity: 1;
      visibility: visible;
      @media #{$min-medium}{
        display: none !important;
      }
    }
  }
  .sub-nav-wrapper{
    overflow: hidden;
    margin-right:-15px;
    margin-left:-15px;
    clear: both;
    &.collapse{
      @media #{$min-medium}{
        display: inline !important;
        clear: right;
        height: auto !important;
        visibility: visible !important;
      }
    }
    @media #{$min-medium}{
      display: inline !important;
      clear: right;
      height: auto !important;
      visibility: visible !important;
    }
  }
}
.wrapper {
  color: $text-color;
  background-color: #fff;
  padding: 50px 0 10px 0;
  border-top:1px solid rgba($secondary-color-grey, .1);
  font-size: $text-size-xs;
  .logo {
    margin: 16.44px 0 10px 0;
  }

  h3 {
    font-size: 16px;
    color: $text-color-header;
    text-transform: uppercase;
    font-weight: 600;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .footer-nav{
    width: 100%;
    display: block;
    color: $text-color;
    &>li {
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
      &>a {
        display: block;
        color: lighten($text-color, 5%);
        line-height: 1.42857;
        &:hover,
        &:focus{
          color: darken($text-color, 20%);
          text-decoration: none;
        }
      }
    }
  }
  .subscribe {
    margin-top: 50px;
    @media #{$medium-break}{
      margin-top:20px;
    }
  }
  .credit {
    margin-top: 50px;
    .credit-link{
      font-size: 13px;
      @media #{$medium-break}{
        width: 100%;
        text-align: center;
      }
      &>li {
        color: lighten($secondary-color-grey, 5%);
        margin-right: 20px;
        display: inline-block;
        @media #{$medium-break}{
          margin:0 10px;
        }
        &.copy{
          margin-right: 0;
          @media #{$medium-break}{
            display: block;
            text-align: center;
            margin-top:20px;
            margin-left: 0;
            margin-right: 0;
          }
        }
        &.toTop{
          float: right;
          display: inline-block;
          padding:4px 10px;
          background: rgba(#000, .05);
          border-radius: 100px;
          color: #444;
          margin-right:60px;
          position: relative;
          margin-top:-5px;
          font-weight: 300;
          &:hover{
            background-color: rgba(#000, .1);
            color: #222;
          }
          @media #{$medium-break}{
            float: none;
            clear:both;
            margin-top:20px;
            margin-right: auto;
            margin-left: auto;
          }
        }
        &>a {
          color: lighten($secondary-color-grey, 15%);
          text-decoration: none;
          &:hover{
            color: $secondary-color-grey;
          }
        }
      }
    }

  }

  .subcriber-form{
    display: block;
    width: 100%;
    position: relative;
    padding-top:10px;
    .input-field{
      font-size:18px;
      input{
        height: 4rem;
        &:focus{
          border-bottom: 1px solid $primary-color-blue-aqua;
          box-shadow: 0 1px 0 0 $primary-color-blue-aqua;
        }
      }
      label{
        font-size: 18px !important;
        font-weight: 100;
        &.active{
          font-size: 12px !important;
          color: $primary-color-blue-aqua;
        }
      }
    }
    .btn-subscribe{
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 0px;
      font-size: 24px;
      font-size: 18px;
      font-weight: 100;
      padding-left: 4px;
      padding-right: 4px;

    }
  }
  .social-media{
    display: inline-block;
    font-size: 20px;
    margin-top:20px;
    float: right;
    @media #{$large-break}{
      float: none;
    }
    @media #{$medium-break}{
      width: 100%;
      text-align: center;
      float: none;
    }
    ul{
      &>li{
        margin:3px;
        &>a{
          @include circle;
          width: 40px;
          height: 40px;
          display: block;
          text-align: center;
          line-height: 40px;
          color: #fff;
          background-color: lighten($secondary-color-grey, 28%);
          &:hover{
            background-color: $primary-color-blue-aqua;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
  }
  .row-offcanvas-right.active {
    right: 50%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
  }
}