<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Sirclo" data-placement="bottom">
		<%= link_to "/en/welcome/integration_sirclo.html" do image_tag("welcome/sirclo_grey.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Shopify" data-placement="bottom">
		<%= link_to "/en/welcome/integration_shopify.html" do image_tag("welcome/shopify.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Jejualan" data-placement="bottom">
		<%= link_to "/en/welcome/integration_jejualan.html" do image_tag("welcome/jejualan_grey.jpg") end %>
		</div>
	</div>
</div>

{::options parse_block_html="true" /}

### Midtrans Integration with Shopify

Please complete the following steps in advance:

1. Create an online store with Shopify (You must be in an active paid Shopify-plan in order for your customer to do checkout).
2. Register to Midtrans account [here](https://account.midtrans.com/register).
3. Complete Midtrans business requirement by contacting [solutions@midtrans.com](mailto:solutions@midtrans.com "Solutions email") with __SHOPIFY - URL Name__ as a subject header and mention your registered _Midtrans Merchant ID_.

<br />

#### Integrate Midtrans to Shopify Platform by following the steps below:

1. Login to Midtrans [Merchant Administration Portal](https://account.midtrans.com/login)

	You will find your online shop name with Sandbox/Production environment. Please make sure that you are in __Production environment__.

	![Login MAP](welcome/affiliate/sirclo01.png){: .img-responsive .img-thumbnail}
	<br /><br />

2. Choose __Settings - Configuration__.

	![Setting](welcome/affiliate/sirclo02.png){: .img-responsive .img-thumbnail}
	<br /><br />

	Fill __Payment Notification URL__ with: `http://vt-pixels.herokuapp.com/veritrans/callback_url`.<br />
	Fill __Finish Redirect URL__ with: `<your_website>`.<br />
	Fill __Unfinish Redirect URL__ with: `<your_website>`.<br />
	Fill __Error Redirect URL__ with: `<your_website>`.

3. Choose __Settings - Access Keys__.

	Copy Midtrans __Merchant ID__ dan __Server Key__ (Will be used for the next step).

	![access key](welcome/affiliate/sirclo04.png){: .img-responsive .img-thumbnail}
	<br /><br />

4. Open the following link in your browser.

	`https://www.shopify.com/login?redirect=authorize_gateway%2F1010074`

	You’ll be redirected to Shopify login page in order to authorize Midtrans payment gateway, please login as usual with your Shopify account :

	![shopify](welcome/affiliate/shopify01.png){: .img-responsive .img-thumbnail}
	<br /><br />

5. You’ll be logged in and asked to add Midtrans as payment gateway, please click __Add Payment Gateway__ button, as follows:

	![shopify](welcome/affiliate/shopify02.png){: .img-responsive .img-thumbnail}
	<br /><br />

6. Complete the configuration by filling in your __Merchant ID__ & __server key__, next select your prefered credit card you’d like to accept (VISA and/or MasterCard). Then click __Activate__. 

	__Note:__

	- Leave __Use Test Mode__ checkbox unchecked to allow real transaction.
	- Check the __Use Test Mode__ checkbox if you want to test transaction without actual payment (using test credentials provided by Midtrans).<br /><br />

	Please note that __server key__ for sandbox/testing is different from production. You may obtain your Merchant ID & server key from Midtrans MAP (after logging in) from the following links:
	
	- For sandbox/testing: [here](https://dashboard.sandbox.midtrans.com/settings/config_info)
	- For production/real transaction: [here](https://dashboard.midtrans.com/settings/config_info)

	![shopify](welcome/affiliate/shopify03.png){: .img-responsive .img-thumbnail}
	<br /><br />

7. Done! Now your Shopify online shop is ready to use Midtrans as payment gateway. Your customer will see Credit Card as payment method on the checkout page.

	![shopify](welcome/affiliate/shopify04.png){: .img-responsive .img-thumbnail}
	<br /><br />