## Affiliated Platforms
---

##### *We have partnered with various platfroms to make integration process as easy as possible. This page contains a list of platforms that have partnered with Midtrans, if your site is utilizing an external platform and would like for us to link it, please contact [support@midtrans.com](mailto:support@midtrans.com "email support").*
---
<br />

<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Sirclo Integration" data-placement="bottom">
		<%= link_to "/en/welcome/integration_sirclo.html" do image_tag("welcome/sirclo.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Shopify Integration" data-placement="bottom">
		<%= link_to "/en/welcome/integration_shopify.html" do image_tag("welcome/shopify.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Jejualan Integration" data-placement="bottom">
		<%= link_to "/en/welcome/integration_jejualan.html" do image_tag("welcome/jejualan.jpg") end %>
		</div>
	</div>
</div>
<br />

{::options parse_block_html="true" /}

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Note**:<br> 
- Please complete the steps in [Preparation](/en/welcome/preparation.html) before starting technical integration.<br>
- If you are using a different programming language or framework, please visit our [API documentation](https://api-docs.midtrans.com) page to start the integration process.
</div>