## Going Live with Snap
---

##### *The tutorial below will assist you in changing the configuration from Sandbox to Production. Please choose the following integration method. If further assistance is required, please contact us at [support@midtrans.com](mailto:support@midtrans.com "email support") or visit our [support page](http://support.midtrans.com "Midtrans Support").*
------------------

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#php" data-toggle="tab">PHP</a></li>
  <li><a href="#magento" data-toggle="tab">Magento</a></li>
  <li><a href="#opencart" data-toggle="tab">Opencart</a></li>
  <li><a href="#prestashop" data-toggle="tab">Prestashop</a></li>
  <li><a href="#woocommerce" data-toggle="tab">Woocommerce</a></li>
</ul>

<br>

If you have completed integrating in Sandbox (Testing Environment) and ready to go live in Production Environment, there are a few steps that need to be made:

{::options parse_block_html="true" /}
<div class="tab-content">
<div class="tab-pane active" id="php"><!-- PHP-->

#### Obtain Snap Token

- Set Veritrans-PHP library to Production Environment. This can be done by changing the value `Veritrans_Config::$isProduction` into `true`.
- Change your ServerKey from Sandbox to production credential.

  ~~~

  <?php
  require_once(dirname(__FILE__) . 'Veritrans.php');

  //Set Your server key
  Veritrans_Config::$serverKey = "<Set your Production ServerKey here>";

  // Uncomment for production environment
  Veritrans_Config::$isProduction = true;

  Veritrans_Config::$isSanitized = true;
  Veritrans_Config::$is3ds = true;

  $transaction = array(
      'transaction_details' => array(
          'order_id' => "<your order_id>",
          'gross_amount' => 10000 // no decimal allowed
          )
      );

  $snapToken = Veritrans_Snap::getSnapToken($transaction);
  ?>

  ~~~
  <br>

#### Show Snap payment page

- Set `snap.js` URL to production endpoint. `https://app.midtrans.com/snap/snap.js`
- Change your Client key from Sandbox to production credential.

  ~~~ html

  <html>
    <head>
      <script type="text/javascript"
            src="https://app.midtrans.com/snap/snap.js"
            data-client-key="<Set Your Production Client Key Here>"></script> 
    </head>
    <body>
      <button id="pay-button">Pay!</button>
      <script type="text/javascript">
        var payButton = document.getElementById('pay-button');
        payButton.addEventListener('click', function () {
          snap.pay('<?php echo $snap_Token; ?>'); // store your snap token here
        });
      </script>
    </body>
  </html>

  ~~~

You are now integrated live with Midtrans service and ready to start transaction! 
<br><br>
</div><!-- end of PHP-->

<div class="tab-pane" id="magento"><!-- Magento-->
- Change `setting environment` in Midtrans plugin from development into production.
![Magento production](snap/snap-mag2.png){: .img-responsive .img-thumbnail}

You are now integrated live with Midtrans service and ready to start transaction! 
<br /><br />
</div><!-- end of Magento-->

<div class="tab-pane" id="opencart"><!-- Opencart-->
- Change `setting environment` in Midtrans plugin from development into production.
![OpenCart production](snap/snap-open2.png){: .img-responsive .img-thumbnail}

You are now integrated live with Midtrans service and ready to start transaction! 
<br /><br />
</div><!-- end of Opencart-->

<div class="tab-pane" id="prestashop"><!-- Prestashop -->
- Change `setting environment` in Midtrans plugin from development into production.
![Prestashop production](snap/snap-presta2.png){: .img-responsive .img-thumbnail}

You are now integrated live with Midtrans service and ready to start transaction! 
<br /><br />
</div><!-- end of Prestashop -->

<div class="tab-pane" id="woocommerce"><!-- Woocommerce -->
- Change `setting environment` in Midtrans plugin from development into production.
![Woo production](snap/snap-woo2.png){: .img-responsive .img-thumbnail}

You are now integrated live with Midtrans service and ready to start transaction! 
<br /><br />
</div><!-- end of Woocommerce -->

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br>Minimum transaction value on production mode is Rp 10,000.00
</div>

</div><!-- end of tab-content-->

