## Integrasi
---

##### *Tutorial berikut akan membantu anda melakukan integrasi ke Veritrans dengan Mobile Apps. Apabila butuh bantuan, silahkan hubungi kami di [support@veritrans.co.id](mailto:support@veritrans.co.id "email support") atau kunjungi [halaman support kami](http://support.veritrans.co.id "Veritrans Support").*
---

Silahkan pilih mobile platform yang akan di integrasikan:
<br /><br />

<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail">
		<%= link_to("https://github.com/veritrans/veritrans-android") do image_tag("/images/icon_android.jpg"); end%>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail">
		<%= link_to("https://github.com/veritrans/Veritrans-ios-sdk") do image_tag("/images/icon_ios.jpg"); end%>
		</div>
	</div>
  </div>

<br>

#### Membayar dengan kartu kredit di iOS
<iframe width="600" height="400" src="https://www.youtube.com/embed/EefsTMXCscg" frameborder="0" allowfullscreen></iframe>

<br>

#### Membayar dengan BCA VA di iOS
<iframe width="600" height="400" src="https://www.youtube.com/embed/mlm-VlS-uNo" frameborder="0" allowfullscreen></iframe>

<br>