<div class="container-fluid">
  <div class="row banner <%= banner_class %>">
    <div class="container">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12">
        <%= partial "sidebar", locals: { banner_class: "herp derp" } %>
      </div>
    </div>
  </div>
</div>