<footer class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img alt="midtrans logo" class="logo" src="https://midtrans.com/assets/images/logo-midtrans-color.svg" width="125" />
            <ul class="list-unstyled footer-nav">
              <li><a href="https://midtrans.com/">Home</a></li>
              <li><a href="https://midtrans.com/about">About</a></li>
              <li><a href="https://midtrans.com/careers">Careers</a></li>
              <li><a href="https://midtrans.com/clients">Clients</a></li>
              <li><a href="https://midtrans.com/campaigns">Campaigns</a></li>
              <li><a href="https://midtrans.com/developers">Developers</a></li>
              <li><a href="https://midtrans.com/security">Security</a></li>
              <li><a href="https://midtrans.com/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3><a href="https://midtrans.com/payments">PAYMENT SERVICES</a></h3>
            <ul class="list-unstyled footer-nav">
              <li><a href="https://midtrans.com/payments/accept">Accept</a></li>
              <li><a href="https://midtrans.com/payments/manage">Manage</a></li>
              <li><a href="https://midtrans.com/payments/disburse">Disburse</a></li>
              <li><a href="https://midtrans.com/payments/channels">Payment Channels</a></li>
              <li><a href="https://midtrans.com/payments/pricing">Pricing</a></li>
              <li><a href="https://midtrans.com/payments/how-to">How-To Join</a></li>
              <li><a href="https://docs.midtrans.com" target="_blank">Technical Documentation</a></li>
              <li><a href="https://support.midtrans.com" target="_blank">Frequently Asked Questions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3><a href="https://midtrans.com/aegis">RISK MANAGEMENT</a></h3>
            <ul class="list-unstyled footer-nav">
              <li><a href="https://midtrans.com/aegis/features">Features</a></li>
              <li><a href="https://midtrans.com/aegis/use-cases">Use Cases</a></li>
              <li class="hide"><a href="https://midtrans.com/report">Research Report</a></li>
              <li class="hide"><a href="https://midtrans.com/library">Library</a></li>
              <li class="hide"><a href="https://midtrans.com/sources">Sources</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3><a href="https://www.prismapp.io/" target="_blank">CHAT COMMERCE</a></h3>
            <ul class="list-unstyled footer-nav">
              <li><a href="https://www.prismapp.io/features" target="_blank">Features</a></li>
              <li><a href="https://www.prismapp.io/pricing" target="_blank">Pricing</a></li>
              <li><a href="https://www.prismapp.io/docs" target="_blank">Technical Documentation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row subscribe">
      <div class="col-md-4">
        <div>
          <h3>Berlangganan newsletter Midtrans</h3>
          <p>Dapatkan email mengenai tips dan trik untuk mengoptimalkan eCommerce Anda.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="mc_embed_signup" class="subcriber-form">
          <form action="//veritrans.us9.list-manage.com/subscribe/post?u=4ed5f88335112571098a4a51c&amp;id=12315939d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="input-field">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email validate" id="mce-EMAIL" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required/>
                <label for="mce-EMAIl">Email Anda</label>
              </div>
              <button type="submit" class="btn btn-subscribe">&#8594;</button>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_4ed5f88335112571098a4a51c_12315939d2" tabindex="-1" value=""></div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="social-media">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/veritransID/?fref=ts" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/VeritransID" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/2649134?trk=tyah&trkInfo=clickedVertical%3Acompany%2CentityType%3AentityHistoryName%2CclickedEntityId%3Acompany_2649134%2Cidx%3A0" target="_blank" rel="nofollow"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/veritransid/" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCtPNqTFgR1aXpEFA9B_djnw" target="_blank" rel="nofollow"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 credit">
        <ul class="list-inline credit-link">
          <li><a href="https://midtrans.com/privacy-policy">Privacy Policy</Link></li>
          <li class="hide"><a href="https://midtrans.com/terms-conditions">Terms &amp; Conditions</a></li>
          <li class="copy">&copy; 
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script> 
            Midtrans (PT Midtrans)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--  <Snackbar
    action="Dismiss" active={store.notification.show}
    icon={<FontAwesome name="comments-o" size="2x" />}
    label={store.notification.message} timeout={5000}
    onClick={this.handleDismissNotif}
    onTimeout={this.handleDismissNotif}
    type={store.notification.type} /> -->
</footer>