<div class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">

    <div class="documentation-sidebar affix">
        <div class="docs-logo">
            <span>DOCS</span>
        </div>
        <div class="language-toggle"> English / <%= link_to "Bahasa Indonesia", lang_link('id') %></div>
        <ul class="sidebar">
            <% data.navigation.each do |menuKey, menuContent| %>
                <li>
                    <% if menuContent.submenu.length > 1%>
                        <a class="parent"><%= menuContent.label.en %></a>
                        <b class="caret"></b>
                        <ul class="child-menu">
                            <% menuContent.submenu.each do |f| %>
                            <%= navigate_to f.en, f.link %>
                            <% end %>
                        </ul>
                    <% else %>
                        <%= link_to menuContent.label.en, print_link(menuContent.submenu[0].link), class:"parent" %>
                    <% end %>
                </li>
            <% end %>
        </ul>
        <p class="question">
            Something is missing from the docs?<br>
            <a href="https://github.com/veritrans/veritrans.github.io">Open an issue or contribute to the docs on Github</a>
        </p>
    </div>
</div>
