<header class="md-header header-white affix-top">
  <div class="container position-static">
    <div class="row position-static">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 position-static">
        <a class="logo-midtrans" href="https://midtrans.com/">Midtrans</a>
        <div id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="nav-wrapper collapse" id="main-nav" aria-expanded="false">
          <div class="inner-wrapper">
            <ul class="mobile-nav">
              <li><span class="nav-title">SERVICES</span></li>
              <li><a href="https://midtrans.com/payments">Payments</a></li>
              <li><a href="https://midtrans.com/aegis">Risk Management</a></li>
              <li><a target="_blank" href="https://www.prismapp.io/">Chat Commerce</a></li>
              <li><span class="nav-space"></span></li>
              <li class="half"><a href="https://midtrans.com/about">About</a></li>
              <li class="half"><a href="https://midtrans.com/clients">Clients</a></li>
              <li class="half"><a href="https://midtrans.com/campaigns">Campaigns</a></li>
              <li class="half"><a href="https://midtrans.com/developers">Developers</a></li>
              <li class="half"><a href="https://midtrans.com/careers">Careers</a></li>
              <li class="half"><a href="https://midtrans.com/security">Security</a></li>
              <li class="half"><a target="_blank" href="https://blog.midtrans.com/">Blog</a></li>
              <li class="half"><a href="https://midtrans.com/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <ul class="md-nav">
          <li class="dropdown">
            <a>
              Services
              <span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu md-dd-nav">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="submenu-description">
                          <h3>Services</h3>
                          <p>Midtrans menyediakan tiga solusi utama untuk bisnis online Anda.</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="submenu-link">
                          <a class="summary" href="https://midtrans.com/payments">
                            <h4>Payment Services</h4>
                            <p>Terima dan kelola pembayaran online dari pelanggan, atau kirim pembayaran ke partner bisnis melalui berbagai channel.</p>
                          </a>
                          <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/payments">Selengkapnya</a>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="submenu-link">
                          <a class="summary" href="https://midtrans.com/aegis">
                            <h4>Risk Management</h4>
                            <p>Analisis dan visualisasikan pola pembayaran di eCommerce Anda. Deteksi pola pembayaran yang mencurigakan.</p>
                          </a>
                          <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/aegis">Selengkapnya</a>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="submenu-link">
                          <a target="_blank" class="summary" href="https://www.prismapp.io/">
                            <h4>Chat Commerce</h4>
                            <p>Berkomunikasi dan bertransaksi langsung di fitur Chat. Jadikan pengunjung website Anda menjadi pelanggan.</p>
                          </a>
                          <a target="_blank" class="btn btn-sm btn-midtrans aqua" href="https://www.prismapp.io/">Selengkapnya</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="https://midtrans.com/about">About</a>
          </li>
          <li class="dropdown">
            <a>
              Resources
              <span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu md-dd-nav">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="submenu-description">
                          <h3>Resources</h3>
                          <p>Berbagai informasi yang berkaitan dengan Midtrans dan bisnis online.</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="submenu-link">
                          <a class="summary" href="https://midtrans.com/clients">
                            <h4>Clients</h4>
                            <p>Kisah sukses dari berbagai bisnis online yang terhubung dengan Midtrans.</p>
                          </a>
                          <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/clients">Selengkapnya</a>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="submenu-link">
                          <a class="summary" href="https://midtrans.com/campaigns">
                            <h4>Campaigns</h4>
                            <p>Beragam program promo untuk meningkatkan bisnis online.</p>
                          </a>
                          <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/campaigns">Selengkapnya</a>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="submenu-link">
                          <a class="summary" href="https://midtrans.com/developers">
                            <h4>Developers</h4>
                            <p>Dokumentasi teknis yang terbuka untuk Anda mencoba berbagai sistem Midtrans.</p>
                          </a>
                          <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/developers">Selengkapnya</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a target="_blank" href="https://blog.midtrans.com/">Blog</a>
          </li>
          <li>
            <a href="https://midtrans.com/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="nav-overlay"></div>
<div class="midtrans-sub-header payments mt60 affix-top" data-spy="affix" data-offset-top="60">
  <div class="container position-static">
    <div class="row position-static">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 position-static">
        <a class="logo-services" href="/payments"></a>
        <div id="sub-nav-toggle" class="collapsed" data-toggle="collapse" data-target="#sub-nav-collapse" aria-expanded="false">
          <span></span><span></span>
        </div>
        <a href="https://account.midtrans.com/register" target="_blank" class="btn-signup-mobile">SIGN UP</a>
        <div class="sub-nav-wrapper collapse" id="sub-nav-collapse" aria-expanded="false">
          <ul class="midtrans-sub-nav">
            <li>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Features
                  <span class="fa fa-angle-down"></span>
                </a>
                <div class="dropdown-menu midtrans-dd-nav">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="submenu-description">
                              <h3>Features</h3>
                              <p>Gunakan berbagai fitur pembayaran online Midtrans untuk bisnis Anda.</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="submenu-link">
                              <a class="summary" href="https://midtrans.com/payments/accept">
                                <h4>Accept</h4>
                                <p>Terima pembayaran online menggunakan SNAP, halaman pembayaran Midtrans dengan berbagai channel pembayaran.</p>
                              </a>
                              <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/payments/accept">Selengkapnya</a>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="submenu-link">
                              <a class="summary" href="https://midtrans.com/payments/manage">
                                <h4>Manage</h4>
                                <p>Lihat dan cek status pembayaran dari pelanggan secara real–time melalui MAP, Dashboard dari Midtrans.</p>
                              </a>
                              <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/payments/manage">Selengkapnya</a>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="submenu-link">
                              <a class="summary" href="https://midtrans.com/payments/disburse">
                                <h4>Disburse</h4>
                                <p>Kirim pembayaran invoice ke berbagai partner bisnis melalui ATHENA, sistem Cash Management Midtrans.</p>
                              </a>
                              <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/payments/disburse">Selengkapnya</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="https://midtrans.com/payments/pricing">Pricing</a>
            </li>
            <li>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Support
                  <span class="fa fa-angle-down"></span>
                </a>
                <div class="dropdown-menu midtrans-dd-nav">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="submenu-description">
                              <h3>Support</h3>
                              <p>Berbagai informasi agar Anda lebih mudah dalam mengunakan pembayaran online Midtrans.</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="submenu-link">
                              <a class="summary" href="https://midtrans.com/payments/how-to">
                                <h4>How-to</h4>
                                <p>Lihat beberapa langkah mudah untuk Anda bergabung dengan Midtrans.</p>
                              </a>
                              <a class="btn btn-sm btn-midtrans aqua" href="https://midtrans.com/payments/how-to">Selengkapnya</a>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="submenu-link">
                              <a class="summary" href="https://docs.midtrans.com">
                                <h4>Technical Documentation</h4>
                                <p>Dokumentasi teknis Anda dan developer Anda dalam berintegrasi dengan Midtrans.</p>
                              </a>
                              <a class="btn btn-sm btn-midtrans aqua" href="https://docs.midtrans.com">Selengkapnya</a>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="submenu-link">
                              <a class="summary" href="https://support.midtrans.com">
                                <h4>F.A.Q</h4>
                                <p>Berbagai informasi penting lainnya untuk Anda lebih mudah mengatur pembayaran online.</p>
                              </a>
                              <a class="btn btn-sm btn-midtrans aqua" href="https://support.midtrans.com">Selengkapnya</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="https://account.midtrans.com/login" target="_blank" class="highlight">Login</a>
            </li>
            <li>
              <a href="https://account.midtrans.com/register" target="_blank" class="sign-up"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>