## VT-Web: Other Features
---

##### *The tutorial below will assist you in implementing other features with VT-Web. If further assistance is required, please contact us at [support@midtrans.com](mailto:support@midtrans.com "email support") or visit our [support page](http://support.midtrans.com "Midtrans Support").*
---

Currently, VT-Web provides a few additional features:

1. Choose The Method of Payment
2. Set Redirect URL
3. Set Custom Fields
4. Set Custom Expiration

We also provide additional feature for Card Payment:

1. Inactivate 3D Secure
2. Installment
3. BIN Promo

<br>

The following provides tutorials to integrate with these features:


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#payment-options" data-toggle="tab">Choose The Method of Payment</a></li>
  <li><a href="#set-redirect" data-toggle="tab">Set Redirect URL</a></li>
  <li><a href="#custom-field" data-toggle="tab">Custom Fields</a></li>
  <li><a href="#custom-expiry" data-toggle="tab">Custom Expiry</a></li>
  <li><a href="#three-D-secure" data-toggle="tab">Inactivate 3D Secure</a></li>
  <li><a href="#installment" data-toggle="tab">Installment</a></li>
  <li><a href="#bin-promo" data-toggle="tab">BIN Promo</a></li>
</ul>
{::options parse_block_html="true" /}
<div class="tab-content">
<div class="tab-pane active" id="payment-options"><!-- step 1-->
<!-- One -->

### Choose The Method of Payment ###

Currently, we have several payment methods that can be utilised from VT-Web:

| Card Payment | Direct Debit | e-Wallet | Bank Transfer | Convenience Store |
|---|---|---|---|---|
| [Credit Card](#credit-card) | [Mandiri Clickpay](#mandiri-clickpay) | [Telkomsel Cash](#tcash) | [Virtual Account](#virtual-account) | [Indomaret](#indomaret) |
| | [CIMB Clicks](#cimb-clicks) | [XL Tunai](#xltunai) | [Mandiri Bill Payment](#mbill) |
| | [e-Pay BRI](#bri-pay) | [Mandiri E-cash](#mandiriecash) |
| | | [Indosat Dompetku](#dompetku) |
| | 

<br><br>
On [VT-Web -- Integration](/en/vtweb/integration_php.html#step1) section, all available payments for the merchant are activated by default.<br>Under some condition, you might need to display only some of the payment methods available. Please follow the steps below to enable certain payment methods.

### Credit Card ###
{: #credit-card}

Following the test transaction on the [integration](/en/vtweb/integration_php.html#step1) section, the sample PHP code that we can make use of is as followed:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000 // no decimal allowed for creditcard
        )
    );

...

?>
~~~

![redirect](vtweb_cc.png){: .img-responsive .img-thumbnail}

* * *

### Mandiri Clickpay ###
{: #mandiri-clickpay}

Mandiri Clickpay is one of the payment features from Mandiri Debit. This method allows customer to perform a transaction by inserting the 16 digits Mandiri Debit Card and PIN Token for transaction validation.

To activate Mandiri Clickpay method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in for Mandiri Clickpay method of payment by contacting Midtrans sales representative.
2. Add the `mandiri_clickpay`  parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("mandiri_clickpay")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The Mandiri Clickpay tab will be shown at the VT-Web payment page. Information and procedure to perform Mandiri Clickpay transaction are displayed on the figure below.
<br /><br />
![vtweb_mandiri](vtweb_mandiri.png){: .img-responsive .img-thumbnail}

* * *

### CIMB Clicks ###
{: #cimb-clicks}

CIMB Clicks is one of the payment features from CIMB Niaga Bank. When this method is utilised, customer will be redirected to CIMB Clicks payment page to perform transaction. More information about CIMB Clicks can be found at [CIMB Niaga website](http://www.cimbniaga.com/?ch=branchless&tab=question&lang=BI 'CIMB Niaga').

To activate CIMB Clicks method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in CIMB Clicks method of payment by contacting Midtrans sales representative.
2. Add the `cimb_clicks` parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("cimb_clicks")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The CIMB Clicks tab will be shown at the VT-Web payment page. Information and procedure to perform CIMB Clicks transaction are displayed on the figure below.
<br /><br />
![vtweb_cimb](vtweb_cimb.png){: .img-responsive .img-thumbnail}

* * *

### Virtual Account ###
{: #virtual-account}

One of the payment method offered by Midtrans is Virtual Account. Currently Midtrans has already integrated with Permata Bank for the Virtual Account system. By using this service, your customer will have an option to make a payment via bank transfer to a Permata Bank Virtual Account Number.

To activate Virtual Account method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in Virtual Account method of payment by contacting Midtrans sales representative.
2. Add the `bank_transfer` parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("bank_transfer")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The Bank Transfer tab will be shown at the VT-Web payment page. Information and procedure to perform Virtual Account transaction is displayed on the figure below.
<br /><br />
![vtweb_VA](vtweb_banktransfer.png){: .img-responsive .img-thumbnail}

* * *

### e-Pay BRI ###
{: #bri-pay}

e-Pay BRI is one of the payment features from BRI Bank. When this method is utilized, the customer will be redirected to e-Pay BRI payment page to perform a transaction. More information about e-Pay BRI can be found at [e-Pay BRI website](http://e-pay.bri.co.id 'e-Pay BRI').

To activate e-Pay BRI method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in e-Pay BRI method of payment by contacting Midtrans sales representative.
2. Add the `bri_epay` parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("bri_epay")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The e-Pay BRI tab will be shown at the VT-Web payment page. Information and procedure to perform e-Pay BRI transaction are displayed on the figure below.
<br /><br />
![vtweb_bripay](vtweb_bripay.png){: .img-responsive .img-thumbnail}

* * *

### Telkomsel Cash ###
{: #tcash}

Telkomsel Cash (T-CASH) is a service of electronic money (E-money) which makes it easy for you to perform financial transaction via mobile phone. This method allows customer to perform transaction by filling in his 10 digits token obtained from Telkomsel as validation of transactions

To activate Telkomsel Cash method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in for Telkomsel Cash method of payment by contacting Midtrans sales representative.
2. Add the `telkomsel_cash`  parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("telkomsel_cash")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The Telkomsel Cash tab will be shown at the VT-Web payment page. Information and procedure to perform Telkomsel Cash transaction are displayed on the figure below.
<br /><br />
![vtweb_tcash](vtweb_tcash.png){: .img-responsive .img-thumbnail}

* * *

### XL Tunai ###
{: #xltunai}

Xl Tunai is an electronic money (E-money) from XL, that allows customers of XL perform financial transaction via mobile phone. This method allows customer to perform transaction by filling in spesific number obtained from Midtrans as validation of transactions.

To activate XL Tunai method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in XL Tunai method of payment by contacting Midtrans sales representative.
2. Add the `xl_tunai` parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("xl_tunai")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The XL Tunai will be shown at the VT-Web payment page. Information and procedure to perform XL Tunai transaction are displayed on the figure below.
<br /><br />
![vtweb_xl](vtweb_xltunai.png){: .img-responsive .img-thumbnail}

* * *

### Mandiri Bill Payment ###
{: #mbill}

Mandiri bill payment is a feature provided by Bank mandiri for their customer to easily make payments using a debit account. By using this, customers can pay bills anytime (24 hours)

To activate Mandiri Bill Payment method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in Mandiri Bill Payment method of payment by contacting Midtrans sales representative.
2. Add the `echannel` parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("echannel")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

**NOTE:**
<br />
`item_detail` parameters is mandatory for this payment channel. You should send it to Midtrans

The Mandiri Bill Payment will be shown at the VT-Web payment page. Information and procedure to perform Mandiri Bill Payment transaction are displayed on the figure below.
<br /><br />
![vtweb_mbill](vtweb_mbill.png){: .img-responsive .img-thumbnail}

* * *

### Indomaret ###
{: #indomaret}

Indomaret is a feature provided by Indomaret where customer can make online payment at indomaret store. The customer only has to come to indomaret cashier and complete the payment. By using this convenience store channel, customer can pay the bill in any indomaret store. Midtrans will send notification in real time for every incoming payment.

To activate Indomaret method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in Indomaret method of payment by contacting Midtrans sales representative.
2. Add the `cstore` parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("cstore")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The Indomaret page will be shown at the VT-Web. Information and procedure to perform Indomaret transaction are displayed on the figure below.
<br /><br />
![vtweb_indomrt](vtweb_indomrt.png){: .img-responsive .img-thumbnail}

* * *

### Indosat Dompetku ###
{: #dompetku}

Indosat Dompetku is an electronic money (E-money) from Indosat, that allows Indosat customers to pay online transactions via mobile phone. This method needs the customer to perform transaction by filling their indosat phone number as validation of transactions.

To activate Indosat Dompetku method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in for Indosat Dompetku method of payment by contacting Midtrans sales representative.
2. Add the `indosat_dompetku` parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("indosat_dompetku")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The Indosat Dompetku tab will be shown at the VT-Web payment page. Information and procedure to perform Indosat Dompetku transaction are displayed on the figure below.
<br /><br />
![vtweb_dompetku](vtweb_dompetku.png){: .img-responsive .img-thumbnail}

* * *

### Mandiri E-cash ###
{: #mandiriecash}

Mandiri E-cash is an electronic money (E-money) from Mandiri Bank, that allows customers to pay online transactions. This method needs the customer to register to Mandiri E-cash and top up the balance.

To activate Mandiri E-cash method of payment (automatically active on Sandbox mode), merchant needs to:

1. Sign in for Mandiri E-cash method of payment by contacting Midtrans sales representative.
2. Add the `mandiri_ecash` parameter on variable `enabled_payments`.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br /><br />

~~~ php
<?php
include_once('Veritrans.php');

...

// Fill transaction details
$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("mandiri_ecash")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>
~~~

<br />
The Mandiri E-cash tab will be shown at the VT-Web payment page. Information and procedure to perform Mandiri E-cash transaction are displayed on the figure below.
<br /><br />
![vtweb_mandiriecash](vtweb_mandiri_ecash.png){: .img-responsive .img-thumbnail}

* * *

</div>
<div class="tab-pane" id="three-D-secure">
### Inactivate 3D Secure ###

It is highly advisable to activate 3D Secure feature on your credit card transaction. Implementing 3D Secure is a standard security practice for a credit card transaction. 3D Secure improves credit card transaction security by adding an authentication process between the customer and their issuing bank. Under certain cases where merchant unfortunately needs to deactivate the 3D Secure feature, you just have to add the parameter `"credit_card_3d_secure" => false` during redirect VT-Web URL request.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          // use false to disable 3ds
          "credit_card_3d_secure" => false
        ),
    'transaction_details' => array(
        'order_id' => 7145,
        'gross_amount' => 10000
        )
    );

...

?>
~~~

</div>
<div class="tab-pane" id="installment">

### Installment ###

#### Online Installment

To activate installment feature, merchant has to make an agreement with the  bank. For online installment, bank will issue special MID for installment. By using this installment MID, the transaction will be converted automatically into installment. At this moment, only BNI and Mandiri which can issue Installment MID. The merchant also needs to contact a Midtrans sales representative if the MID for installment is ready. If MID is ready, merchant simply has to add the parameter `installment` during redirect VT-Web URL request.

Furthermore, in order to limit only eligible card can do installment transaction, merchant needs to implement BIN promo feature along with installment. Please refer to BIN Promo documentation for further details.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
          // Add installment payment option
          "payment_options" => array(
              "installment" => array(
                  "required" => true,
                  "installment_terms" => array(
                      "bni" => array(6,12),
                      "mandiri" => array(6)
                    )
                )
            ),
          "credit_card_bins" => array("48111111", "3111", "5", "bni", "mandiri")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>

~~~

<br>

The following figure displays the VT-Web payment page with online installment feature:
<br />
![VT-Web Installment](vtweb_installment.png){: .img-responsive .img-thumbnail}

* * *

#### Offline Installment

To allow installment feature with banks which doesn't issue MID Installment, merchant can use feature offline installment. With offline installment feature, the transaction will be charged in full amount and the transaction will be converted into installment later. For more information and support, merchant can contact Midtrans Sales Representative. Merchant simply has to add the parameter `offline_installment_term` during redirect VT-Web URL request with combination bin filter feature. The purpose of bin filter is to limit only certain cards will be allowed to do offline installment based on the agreement between merchant and issuing banks.

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
          // Add installment payment option
          "payment_options" => array(
              "installment" => array(
                  "required" => true,
                  'installment_terms' => new stdClass(),
                  "offline_installment_terms" => [3,6,12]
                )
            ),
          "credit_card_bins" => array("48111111", "3111", "5", "bni", "mandiri")
        ),
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000
        )
    );

...

?>

~~~

The following figure displays the VT-Web payment page with offline installment feature:
<br />
![VT-Web Installment](vtweb_offline_installment.png){: .img-responsive .img-thumbnail}

* * *

</div>
<div class="tab-pane" id="bin-promo">

### BIN Promo ###

BIN promo is a feature that allows merchant to advertise bank a promotion according to the credit card issued by the bank. BIN (Bank Identification Number) is the **first 1-6 digit** of a credit card, which identifies the bank that issues the card. A bank generally has more than one BIN.

To use this feature, merchant needs to accumulate the list of BIN that currently receives promotion or simply using issuing bank name. This list of BIN or issuing bank name will then become a transaction parameter `credit_card_bins`. This transaction can only be performed exclusively by the credit card that is included in the BIN list or BIN under particular defined issuing bank.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
          //Register BIN list
          "credit_card_bins" => array("48111111", "3111", "5", "bni", "mandiri")
        ),
    'transaction_details' => array(
        'order_id' => 8033,
        'gross_amount' => 10000
        )
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

...

?>
~~~

<br />
The example above adds BIN number `48111111`, `3111`,`5`, and issuing bank name to the BIN list. If credit card with BIN number “411111” is used or credit card doesn't belong to `BNI` or `Mandiri` BIN, transaction will be denied with an error message as followed:
<br />
![VT-Web BIN Error](vtweb_bin.png){: .img-responsive .img-thumbnail}

</div>

<div class="tab-pane" id="set-redirect">

### Set Redirect URL ###

Customer will be returned to your website after the payment process is completed.<br>

By default, the redirection URL can be configured at Midtrans MAP through [Getting Started](/en/welcome/preparation.html#step4).

In certain cases, customer can override the VT-Web configured redirection URL for every transaction by adding the `finish_redirect_url`, `unfinish_redirect_url`, and `error_redirect_url` parameter.

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true,
          
          //Set Redirection URL Manually
          "finish_redirect_url" => "http://www.example.co.id/payment/finish",
          "unfinish_redirect_url" => "http://www.example.co.id/payment/unfinish",
          "error_redirect_url" => "http://www.example.co.id/payment/error"
        ),
    'transaction_details' => array(
        'order_id' => 8033,
        'gross_amount' => 10000
        )
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

...

?>
~~~

{::options parse_block_html="true" /}
<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br> Please refer to our [API Documentation - Set Redirect URL](/en/api/methods.html#SetRedirect) for more info on the JSON attributes.
</div>

<br />

</div>


<div class="tab-pane" id="custom-field">

### Set Custom Field ###

Customer is able to send a custom data according to the needs by utilizing Custom Field.<br>

Convention of a custom field can be set from Midtrans Merchant Admin Portal, shown below.
![custom_field](custom_field.png){: .img-responsive .img-thumbnail}

<br>

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("credit_card"),
          "credit_card_3d_secure" => true
        ),
    'transaction_details' => array(
        'order_id' => 3033,
        'gross_amount' => 10000
        ),

    //Set Custom Field Value
    'custom_field1' => "Warehouse",
    'custom_field2' => "Normal"
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

...

?>
~~~

<br>

Transaction Status of an Order ID with custom field according to the code above:

![MAP_custom_field](MAP_custom_field.png){: .img-responsive .img-thumbnail}

<br />

Sample HTTP Post Response from Midtrans when charging with Custom Fields:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "2f3b5be9-c745-493f-894d-87f8cbc480f6",
  "order_id": "3033",
  "payment_type": "bank_transfer",
  "transaction_time": "2015-05-22 13:27:13",
  "transaction_status": "settlement",
  "permata_va_number": "8778000660147988",
  "signature_key": "6f3368d58d1a31a9465e72456ecc33318572a3398d1465b5d12e68ef5bb541a70db3e498d0596db699a1af6d37ea8b86ae9cb5cbebc9eee90846369e9eac7bb2",
  "custom_field1": "Warehouse",
  "custom_field2": "Normal",
  "gross_amount": "10000.00"
}

~~~

</div>

<div class="tab-pane" id="custom-expiry">

### Set Custom Expiry ###

Set Custom Expiry feature enables merchant to set an expiry time of payment with pending status for every transaction.

The following payment is the list of payment with Pending Status:

- Bank Transfer: Permata Virtual Account, Mandiri Bill Payment
- Direct Debit: CIMB Clicks, e-pay BRI, BCA KlikPay
- e-Wallet: XL Tunai
- Convenience Store : Indomaret
<br>

Following the test transaction on [integration](/en/vtweb/integration_php.html#step1), the sample PHP code that we can make use of is:<br />

~~~ php
<?php
include_once('Veritrans.php');

...

$transaction = array(
    "vtweb" => array (
          "enabled_payments" => array("vtweb"),
          "credit_card_3d_secure" => true
        ),
    'transaction_details' => array(
        'order_id' => 8033,
        'gross_amount' => 10000
        ),

    //Set Custom Expiry
    'custom_expiry' => array (
      "order_time" => "2015-09-08 11:06:53 +0700",
      "expiry_duration" => 30,
      "unit" => "minute"
      )
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

...

?>
~~~

</div>
</div>
