<div class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="documentation-sidebar affix">
    <div class="docs-logo">
      <span>DOCS</span>
    </div>
    <div class="language-toggle"> <%= link_to "English", lang_link %> / Bahasa Indonesia</div>
    <ul class="sidebar">
      <% data.navigation.each do |menuKey, menuContent| %>
        <li>
          <% if menuContent.submenu.length > 1%>
            <a class="parent"><%= menuContent.label.id %></a>
            <b class="caret"></b>
            <ul class="child-menu">
              <% menuContent.submenu.each do |f| %>
                <%= navigate_to f.id, f.link, "id" %>
              <% end %>
            </ul>
          <% else %>
            <%= link_to(menuContent.label.en, print_link(menuContent.submenu[0].link, "id"), class: "parent") %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <p class="question">
      Anda merasa ada yang kurang dari dokumentasi ini?<br>
      <a href="https://github.com/veritrans/veritrans.github.io">Buka issue atau ikut berkontribusi di Github</a>
    </p>
  </div>
</div><!--/span-->