<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Sirclo" data-placement="bottom">
		<%= link_to "/id/welcome/integration_sirclo.html" do image_tag("welcome/sirclo_grey.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Shopify" data-placement="bottom">
		<%= link_to "/id/welcome/integration_shopify.html" do image_tag("welcome/shopify.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Jejualan" data-placement="bottom">
		<%= link_to "/id/welcome/integration_jejualan.html" do image_tag("welcome/jejualan_grey.jpg") end %>
		</div>
	</div>
</div>

{::options parse_block_html="true" /}

### Integrasi Midtrans dengan Shopify

Mohon selesaikan langkah di bawah ini terlebih dahulu:

1. Buat toko online dengan Shopify (Anda harus menggunakan akun Shopify yang berbayar dan dalam keadaan aktif agar pelanggan dapat melakukan _checkout_).
2. Daftar akun Midtrans di [sini](https://account.midtrans.com/register).
3. Lengkapi kebutuhan bisnis Midtrans dengan menghubungi [solutions@midtrans.com](mailto:solutions@midtrans.com "Solutions email") dengan __SHOPIFY - URL Name__ sebagai subjek dan sebutkan _Midtrans Merchant ID_ yang terdaftar.

<br />

#### Silahkan ikuti langkah-langkah berikut untuk memulai integrasi:

1. Login ke [Merchant Administrator Portal](https://account.midtrans.com/login) Midtrans.

	Anda akan melihat nama online shop Anda, dengan mode Sandbox/Production. Pastikan Anda sedang berada di mode __Production__.

	![Login MAP](welcome/affiliate/sirclo01.png){: .img-responsive .img-thumbnail}
	<br /><br />

2. Pilih __Settings - Configuration__.

	![Setting](welcome/affiliate/sirclo02.png){: .img-responsive .img-thumbnail}
	<br /><br />

	Isi __Payment Notification URL__ dengan : `http://vt-pixels.herokuapp.com/veritrans/callback_url`.<br />
	Isi __Finish Redirect URL__ dengan: `<website_anda>`.<br />
	Isi __Unfinish Redirect URL__ dengan: `<website_anda>`.<br />
	Isi __Error Redirect URL__ dengan: `<website_anda>`.

3. Pilih __Settings - Access Keys__

	Copy __Merchant ID__ dan __Server Key__ Midtrans (untuk digunakan di langkah selanjutnya).

	![access key](welcome/affiliate/sirclo04.png){: .img-responsive .img-thumbnail}
	<br /><br />

4. Buka link berikut pada browser Anda.

	`https://www.shopify.com/login?redirect=authorize_gateway%2F1010074`

	Anda akan diarahkan ke halaman login Shopify, silahkan login seperti biasa dengan akun Shopify Anda.

	![shopify](welcome/affiliate/shopify01.png){: .img-responsive .img-thumbnail}
	<br /><br />

5. Anda akan login dan diminta untuk menambahkan Midtrans sebagai _payment gateway_, silahkan klik tombol __Add Payment Gateway__.

	![shopify](welcome/affiliate/shopify02.png){: .img-responsive .img-thumbnail}
	<br /><br />

6. Menyelesaikan konfigurasi dengan mengisi __Merchant ID__ & __server key__ Anda, lalu pilih jenis kartu kredit yang akan Anda terima (VISA dan/atau MasterCard). Kemudian klik __Activate__. 

	__Note:__

	- Biarkan __Use Test Mode__ dalam keadaan tidak tercentang untuk mode production (transaksi asli).
	- Centang __Use Test Mode__ untuk mode sandbox/testing (transaksi _dummy_).<br /><br />

	Pastikan bahwa __server key__ untuk sandbox/testing berbeda dengan _production_. Anda bisa mendapatkan Merchant ID & server key dari Midtrans MAP (setelah login) dari link berikut:
	
	- Untuk sandbox/testing: [di sini](https://dashboard.sandbox.midtrans.com/settings/config_info)
	- Untuk production/transaksi asli: [di sini](https://dashboard.midtrans.com/settings/config_info)

	![shopify](welcome/affiliate/shopify03.png){: .img-responsive .img-thumbnail}
	<br /><br />

7. Selesai! Sekarang toko online Shopify anda siap menggunakan Midtrans sebagai _payment gateway_. Pelanggan Anda akan melihat kartu kredit sebagai salah satu metode pembayaran pada halaman _checkout_.

	![shopify](welcome/affiliate/shopify04.png){: .img-responsive .img-thumbnail}
	<br /><br />