{::options parse_block_html="true" /}

## Persiapan Awal
***

##### ***Tujuan:*** *merchants melengkapi syarat yang diperlukan sebelum melakukan integrasi dengan Midtrans*
***

Ada beberapa syarat yang harus dilengkapi sebelum berintegrasi dengan Midtrans:

{: #step1}
### 1. Daftar ke akun Midtrans Sandbox/Production.

Saat ini Midtrans memiliki satu akun login untuk mengakses akun sandbox dan production. Akun sandbox digunakan pada periode development/testing sedangkan akun production digunakan ketika merchant sudah selesai melakukan integrasi dan siap untuk go live. Data dan transaksi yang dibuat di akun sandbox tidak akan memicu terjadinya pembelian sungguhan tetapi pada akun production akan mengakibatkan transaksi sebenarnya. Silahkan melakukan pendaftaran ke akun Midtrans di [sini](https://account.midtrans.com/register).

Setelah masuk, akan ada tombol kecil di bagian atas dari dasboard yang menampilkan anda sedang di dalam mode sandbox atau production. Warna pada menu navigasi samping juga dibedakan antara production (biru muda) dan sandbox (biru tua) untuk lebih memperjelas. 

![production](welcome/production.png){: .img-responsive .img-thumbnail}
<br>
![sandbox](welcome/sandbox.png){: .img-responsive .img-thumbnail}

<br>

{: #step2}
### 2. Lengkapi informasi yang diperlukan di Merchant Admin Portal (MAP). 

Kolom yang perlu diisi bisa dilihat di [Settings - General Settings](https://dashboard.sandbox.midtrans.com/settings/general_info "General Settings").<br />

![General Setting](welcome/gen_set.png){: .img-responsive .img-thumbnail}

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  <span class="sr-only">Peringatan!</span>
__Peringatan!__ 

- Merchant Name: <Strong>JANGAN</Strong> masukkan simbol.
- Merchant URL yang Valid: 
	<ul>Kurang dari 25 karakter.</ul>
	<ul>Simbol yang valid ':', '/', '.'.</ul>

</div>
<br>

{: #step3}
### 3. Catat _Access Keys_ akun Anda

Acces Keys akun Anda dapat dilihat di [Settings - Access Keys](https://dashboard.sandbox.midtrans.com/settings/config_info "Access Keys")<br />

![Access Keys](welcome/access_key.png){: .img-responsive .img-thumbnail}

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Perhatian:</span>
__Perhatian!__ <br>Jaga kerahasiaan 'Server Key' Anda.


</div>

<br>

{: #step4}
### 4. Konfigurasi Pengalihan URL

Customer akan dikembalikan ke website Anda setelah proses pembayaran selesai.

![vtweb-diagram](welcome/vtweb-diagram.png){: .img-responsive .img-thumbnail}

Masuk ke [Settings - Configuration](https://dashboard.sandbox.midtrans.com/settings/vtweb_configuration) menu untuk mengatur pengalihan URL. <br />

![redirect_url](welcome/redirect_url.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  <span class="sr-only">Peringatan!</span>
__Peringatan!__ 

Mohon lengkapi URL dengan  http:// atau https://

</div>
<br>